[2016-11-18 00:04] wesruv commented on #315
I know a lot of this content probably doesn't exist, but this is what I think we should shoot for.

Next steps of learning how to install Backdrop, links to get engaged with the community and feel like a part of project, and then more getting started tutorials so they know that kind of information is out there (although they may not use it at this point)

[2016-11-18 00:05] wesruv commented on #301
Download page: https://github.com/backdrop-ops/backdropcms.org/issues/315

[2016-11-18 11:18] klonos commented on #315
Like it 👍

[2016-11-19 07:57] klonos commented on #313
If we end up having the "News" item "buried" under another item instead of being top-level, here's a nice idea from the site of the very same library we use for our menus:

![smartmenus-news_badge](https://cloud.githubusercontent.com/assets/2423362/20454074/072488c6-ae8a-11e6-8efc-5843a34e57f5.png)
![smartmenus-news_badge-expanded](https://cloud.githubusercontent.com/assets/2423362/20454076/0bf16e

[2016-11-19 19:19] JugglingCoder opened #316 "Showcase Sites Page on backdropcms.org"
I did a search here for "Showcase" and there was a mention of something... but searching all around on backdropcms.org could not find a "Showcase" page so... maybe removed?  I bring this up because recently I suggested to a client I use "Backdrop" (normal I don't tell clients what I use but this particular client was savvy with CMS systems) and he asked, "can you show me some example sites?" and I

[2016-11-19 19:35] serundeputy commented on #316
The showcase is not built yet, but this should at least give you some sites to show: https://backdropcms.org/news/built-backdrop-cms

and of course https://backdropcms.org itself is built with Backdrop.

[2016-11-19 23:23] klonos commented on #316
@JugglingCoder yeah, our official showcase view is not built and published yet (as in the fact that we do not have an easily accessible link in the main site menu for it), but here's the link to it anyways: https://backdropcms.org/showcase

[2016-11-21 09:54] bd0bd commented on #192
Deat **@Backdrop developers**,

You might call and ask [Jakob Nielsen](https://www.nngroup.com/people/jakob-nielsen/)  about this issue. I am pretty sure he would say the best variant for your CMS prosperity is to have 2 simple buttons:

1. Download Backdrop
2. Demo

Thank you!
:smile:

[2016-11-21 10:12] bd0bd commented on #301
1. I offer NOT to use "Try out Backdrop" wording.
It is better (winning solution) to use single word "Demo".
Buttons color should be contrast - for example, red.

2. I offer to keep the current colors scheme - black (grays) & white. No blue (but I do understand why it is used by @wesruv). Only the buttons should be another color scheme (for example, red).

Thank you!

[2016-11-21 19:25] jenlampton commented on #301
If you remember we started by using the word "Demo" but we were asked by Pantheon to change it since that tool is not a demo. What you get is your own Backdrop site - one you can launch! If we do come up with a demo service then it may be better to put a link to that on the home page using the word "Demo" (on simplytest.me maybe?) but the pantheon button needs a more accurate word than that.

[2016-11-22 08:42] bd0bd commented on #301
@jenlampton, I understand you.

When I say to use "Demo" I mean you have your own demo on your website (not on Pantheon).

Any visitor could click on this button and a new demo site would be created within 15-90 seconds.
No any registration. No any fields to type in.

[2016-11-22 08:48] jenlampton commented on #301
exactly, and the whole thing would be erased in a half hour or so.

[2016-11-25 00:50] thejimbirch commented on #309
@tomgrandy's post was delicious and amazing.  I suggest closing this issue.

[2016-11-25 02:44] tomgrandy commented on #309
@thejimbirch - Thanks!

[2016-11-25 06:43] klonos commented on #309
Yep, the post's been written. Thanx @tomgrandy 👍. Closing...

[2016-11-25 06:43] #309 closed

[2016-12-03 23:23] docwilmot commented on #100
I think our project list is now large enough to need categorization. I just tried finding an ecommerce module; Paypal doesnt show up when you search "commerce", and Simple Cart doesnt show if you search "paypal".

[2016-12-08 21:48] tomgrandy commented on #263
Documentation is now live on BackdropCMS!  Very cool.

I'm still not 100% sure that I like the images maintaining a width of 600px because they are hard to read.  Does anyone else think that is the case?  If so, I can try bumping them up to 700-750px but then the question becomes how much real estate are we willing to dedicate to representing the interface or is it good enough as is?

It would be

[2016-12-08 22:51] docwilmot commented on #263
Congratulations Backdrop!
Well done @tomgrandy
Have completely abandoned colorbox?

[2016-12-08 23:04] jenlampton commented on #312
The developer docs are on a different website (api.backdropcms.org) so we need to be careful that we are not putting those docs out of reach for those who need them. But bravo to all other suggestions 👍

[2016-12-09 00:48] jenlampton commented on #263
Colorbox is still on the table. We should figure out how to set that up for contrib anyway.

[2016-12-11 00:54] wesruv commented on #192
Part of this has to do with what Pantheon prefers, they gave us the wording for "Spin Up on Pantheon", and part of this is that Demo doesn't really describe what your'e getting.

We'd really like something that is actually a quick demo (one click login to a temporary Backdrop site), but we'd need the infrastructure and we'd have to make some sort of process to make sure we don't create spam factor

[2016-12-11 00:54] #192 closed

[2016-12-12 13:35] serundeputy opened #317 "/download has incorrect links to Documentation and Issue Queue."
In the right sidebar under the heading `GitHub`:

* `Issue Queue` links to https://github.com/backdrop/backdrop/issues. I think it should be: https://github.com/backdrop/backdrop-issues/issues

* `Documentation` links to https://github.com/backdrop/backdrop/wiki. This should probably link to our new user-guide: https://backdropcms.org/user-guide or to https://api.backdropcms.org

----

PR: https:/

[2016-12-18 17:39] serundeputy commented on #317
@jenlampton ^ just giving you a ping as to the existence of this `PR` :)

[2016-12-18 21:38] jenlampton commented on #317
TY!  Merged :)

[2016-12-18 21:58] jenlampton commented on #317
Reverted - PR needs work, it currently breaks all links for all contrib project wikis + documentation pages. I think we may want to do a theme override in the borg theme that checks the project and changes the links only when the project is backdrop itself.

[2016-12-18 22:06] jenlampton commented on #317
Like this https://github.com/backdrop-ops/backdropcms.org/pull/320 :)

[2016-12-18 22:06] #317 closed

[2016-12-18 22:11] jenlampton commented on #317
Deployed: https://backdropcms.org/download and other project pages are still correct: https://backdropcms.org/project/rules

[2016-12-23 17:39] klonos commented on #316
...lets keep this issue open until we have made public an actual showcase page on b.org.

[2016-12-23 17:58] JugglingCoder commented on #316
Oh, ok klonos:)  I was just trying to clean up a bit but if you think it should stay open; of course I'll keep it open.

[2016-12-27 02:03] wesruv commented on #301
In real world implementation land, this is what I've got so far (not done though). From our Design meeting last week, sounds like we'll be putting this up on dev when it's a little more polished. Since we're changing the theme to be something that uses Basis/more core functionality it's causing a redesign of some other pages. Trying to keep that manageable so we can get something out for the relea

[2016-12-27 05:46] jenlampton commented on #301
Looks good!

- -
Please excuse brevity and typos. Message typed with my thumbs from an Open
Source OS.

On Dec 26, 2016 7:03 PM, "wesruv" <notifications@github.com> wrote:

[2016-12-27 07:02] klonos commented on #301
Yep, looking good. Any specific feedback once we have it up on the dev server.

[2016-12-29 08:27] Dinornis opened #321 "No Search on backdropcms.org?"
Is there a reason not to have global search or at least the User Guide and Handbook searchable?

Right now it looks like only the Backdrop CMS API Documentation is **somewhat** searchable.

Example:
I was looking for information RE: Date Repeat functionality and had to resort to DuckDuckGo in order to find this: https://api.backdropcms.org/node/43066

This is the type of issue that gives D.org a b

[2016-12-29 13:06] klonos commented on #301
...we are not redesigning only the home page.

[2016-12-29 13:09] klonos commented on #321
Hello again @Dinornis we have an issue for this already: #193. I guess that the reason why we haven't done anything about it yet is that we are currently working on redesigning the entire site, moving away from the old theme with the drawer on the left side: #301. The new design includes a global search:

![](https://cloud.githubusercontent.com/assets/5607236/21488465/0779bd14-cbae-11e6-9f32-020ff

[2016-12-29 13:09] #321 closed

[2016-12-29 13:12] klonos commented on #321
...we also have an issue about starting a forum on backdropcms.org: #250 ...as I told you previously, we have a lot of plans and many tasks on our todo list, but we are a very small community still with not enough "hands on deck". We're getting there though 😄

[2016-12-29 19:10] Dinornis commented on #321
Thank you for the links klonos, it is good to know this is on the radar.

Should I open a separate issue for the Backdrop CMS API Documentation search problem?  I don't think https://github.com/backdrop-ops/backdropcms.org/issues/193 will solve that as it covers only the site design.

[2016-12-29 19:35] klonos commented on #321
Yep, the global search will be searching only on b.org - not api.b.org. What was the issue with searching in the API site again? Because [searching for "date repeat"](https://api.backdropcms.org/search/node/date repeat) brings the [Date, Date Popup, and Date Views modules now included in Core](https://api.backdropcms.org/node/43066) change notice as the first result for me.

[2016-12-29 20:04] Dinornis commented on #321
You are correct, my fault, I typed in date_repeat.

[2016-12-29 20:56] serundeputy commented on #123
@jenlampton recently ported [metatag](https://github.com/backdrop-contrib/metatag)

A big push/win for SEO would be to install and configure metatag on backdropcms.org

[2016-12-30 03:41] docwilmot opened #322 "Suggestions for 2017"
Set long term goals
 - We have issue milestones for code and Backdrop CMS, good.
 - But we need to define the target audiences, what that audience would need in a full featured CMS, and collate the important things we need to do to satisfy them. Otherwise we may tend to be prioritising minor issues over the "necessary" stuff.
 eg by September 2017 we would like 2000 active installs; our most likel

[2016-12-30 06:28] Dinornis commented on #250
I am glad to see that a Backdrop based forum is in the workings for the backdropcms.org site.

I agree with docwilmot, Forums is quite important and not having one at BD.org is counterproductive.  User forum can bring more people in, make it easier to get involved with and grow the Backdrop community.

As an end user of many forums I consider the following features important:

* **Notifications**

[2016-12-30 14:54] tomgrandy commented on #177
I'm willing to take on the Newsletter.

Can you post a link or send me one that was created previously?

[2016-12-30 15:39] tomgrandy commented on #313
@wesruv - What does the new navigation look like?  I think the above is dated since it doesn't match the mockup.

[2016-12-30 15:42] tomgrandy commented on #301
@wesruv - Is the dev site available to view?

[2016-12-30 16:39] tomgrandy commented on #313
I still think "Handbook" lacks clarity as to what the dropdown contains.  I would never go there to find out the Philosophy behind Backdrop.

To that end, a concise menu could be:

**ABOUT**
-- Philosophy
-- Community
-- Leadership
-- Release Cycle
-- Roadmap
-- License

**ADD-ONS**
-- Modules
-- Themes
-- Layouts

**SUPPORT**
-- User Guide
-- Developer Guide
-- Ways to Contribute
-- Forum
-- Reso

[2016-12-30 17:40] tomgrandy commented on #312
How about:

ABOUT
-- Philosophy
-- Community
-- Leadership
-- Release Cycle
-- Roadmap
-- License

ADD-ONS
-- Modules
-- Themes
-- Layouts

SUPPORT
-- User Guide
-- Developer Guide
-- Ways to Contribute
-- Forum
-- Resources

NEWS
-- Backdrop Blog
-- Weekly Meeting
-- Upcoming Events

[2016-12-30 18:13] docwilmot commented on #312
Works for me!

[2016-12-30 20:11] jenlampton commented on #177
woohoo!!!  I'll give you access to the mailchimp account, and you can see all our previous campaigns in there. :)

[2016-12-30 21:38] jenlampton commented on #312
Looking great.  Also we'll need to add our current `Service Providers` page under Support too.

[2016-12-30 21:45] jenlampton commented on #123
committed metatag to the master branch.

[2016-12-30 22:29] tomgrandy commented on #312
Awesome!  @wesruv can you adjust the menus accordingly?  If it is something I can help with, just let me know.  Not sure if the new site is in dev yet or not.

Thanks @jenlampton !

**ABOUT**
-- Philosophy
-- Community
-- Leadership
-- Release Cycle
-- Roadmap
-- License

**ADD-ONS**
-- Modules
-- Themes
-- Layouts

**SUPPORT**
-- User Guide
-- Developer Guide
-- Service Providers
-- Ways to Contr

[2016-12-30 22:41] tomgrandy commented on #177
I've linked my MailChimp account and will peruse the previous campaigns
this weekend.

Sweet!

On Fri, Dec 30, 2016 at 3:11 PM, Jen Lampton <notifications@github.com>
wrote:

[2016-12-31 05:30] Dinornis commented on #127
In the spirit of supporting Open Source software, have you considered using Piwik?

What is Piwik?
Piwik is a free (GPL licensed) web analytics platform, an open source alternative to Google Analytics.
[Drupal 6, 7 and 8 stable versions](https://www.drupal.org/project/piwik) of Piwik Web Analytics are available.

[2016-12-31 06:51] Dinornis commented on #149
I would go with what monkey suggested in the original post as it is using phrases that people actually use when searching for CMS.  To me it looks like monkey knows its business.

Can you name a single CMS that you think is better?  I tried a few and can't think of one that would come even close.  In this instance it does not really matter because it is much more likely that someone searching for

[2016-12-31 07:02] Dinornis commented on #149
@jenlampton

Looks like the home page title is back to <title>Backdrop CMS | Backdrop CMS</title>

[2016-12-31 07:39] Dinornis commented on #322
It would be nice to know if D6 admins are on the radar as possible audience or not so they can consider other options if not. _Disclosure:_ I maintain one of the 80,000+ websites still running Drupal 6.

Please, do not stop, this can't be said often enough.  An online community without a forum, seriously?

Exactly.

[2016-12-31 07:48] Dinornis commented on #313
-- Philosophy
-- Community
-- Leadership
-- Release Cycle
-- Roadmap
-- License
**ADD-ONS**
-- Modules
-- Themes
-- Layouts
**SUPPORT**
-- User Guide
-- Developer Guide
-- Ways to Contribute
-- Forum
-- Resources
**NEWS**
-- Backdrop Blog
-- Weekly Meeting
-- Upcoming Events

+1

[2016-12-31 12:41] LeeteqXV opened #323 "Shoutbox module works with BD 1.5.x by just adding the dault backdrop version line in the .info file"
I have just tested the latest shoutbox dev module which seems to play nicely with BackDrop:

- https://www.drupal.org/project/shoutbox

How/where to inform about D7 xmods that works with BD with just the .info file update?
Should I upload the module folder as a zipfile with its adjustments here?

[2016-12-31 13:22] LeeteqXV opened #324 "Chess, anyone..? The Vchess module needs maintainer(s)..."
I am checking out if/how vChess is working under BD 1.5.x, including its dependency: "tsort.

- https://www.drupal.org/project/vchess
- https://www.drupal.org/project/tsort (dependency of vchess)

**When making a draw in VChess, a WSOD is shown along the following message:**

"Fatal error: Call to undefined function rules_invoke_event() in /home/<x......>/modules/vchess/vchess.pages.inc on line 39

[2016-12-31 16:45] klonos commented on #149
I appreciate your enthusiasm @Dinornis. Maybe I'm just getting old and loosing the "passion" that is characteristic of the young(er). It is undeniable that we all have different personalities and perhaps it's just me, but we simply cannot claim that we are *the best* there is. Especially when none of us can have possibly tried *every single* other CMS out there.

During my presentations, I introdu

[2016-12-31 17:09] klonos opened #325 "Admin bar: ghost "settings" and "edit" menu items for layouts."
I've noticed that the website has been updated to 1.5.2 👍

Here's what I see in all Structure -> Layouts -> %layout_name% menus:

![backdropcms org-admin_bar-ghost_menu_items_in_structure-layouts](https://cloud.githubusercontent.com/assets/2423362/21578538/10601f26-cfd8-11e6-9183-15c715c7791c.png)

Tried a cache clear, but it didn't help.

Not high-priority since this is only effecting the backend

[2016-12-31 17:30] Graham-72 commented on #325
@klonos yes, I get this on my sites too.

[2016-12-31 17:40] Dinornis commented on #149
I agree

[2016-12-31 17:48] klonos commented on #149
Yes, I think that this was fixed but perhaps a recent update might have reverted things to defaults. You see, every Backdrop installation appends `| %site_name%` at the end of the page `<title>` by default (and the name of the site is "Backdrop CMS"). The unfortunate duplication occurs because the home page happens to be a page with title "Backdrop CMS" as well.

I think that in Backdrop we need t

[2016-12-31 17:57] klonos commented on #325
Closing in favor of the core issue: https://github.com/backdrop/backdrop-issues/issues/2443

[2016-12-31 17:57] #325 closed

[2016-12-31 17:58] klonos commented on #325
@Graham-72 can you please chime in the other issue? Did you start having this after a core upgrade?

[2016-12-31 18:27] klonos commented on #324
Hello there @LeeteqXV and welcome to the Backdrop issue queues. This queue here is specifically for issues related to the main website at backdropcms.org. Can you please move any issues related to contrib projects (such as this one and https://github.com/backdrop-ops/backdropcms.org/issues/323) over at https://github.com/backdrop-ops/contrib/issues ? Thanx.

[2016-12-31 18:28] #324 closed

[2016-12-31 18:28] klonos commented on #323
Please see https://github.com/backdrop-ops/backdropcms.org/issues/324#issuecomment-269876883

[2016-12-31 18:28] #323 closed

[2016-12-31 18:30] klonos commented on #324
You too @LeeteqXV

[2016-12-31 21:27] serundeputy opened #326 "User guide should consistently use `example.com` for example URLs"
On the [quickstart](https://backdropcms.org/user-guide/quick-start) guide we are jumping between `mysite.com` (which links out to some commercial service) and `yoursite.com/user`

We should consistently use `example.com` which is reserved for documentation purposes: https://en.wikipedia.org/wiki/Example.com

[2017-01-01 01:34] tomgrandy commented on #326
Agree!  Will go through docs and correct.  Excellent point!

[2017-01-01 11:42] Graham-72 commented on #322
Maybe we need two or three blog/news items that are case histories of migrating sites from Drupal 6 to Backdrop? This must be the sort of thing people would be searching for and reading.

[2017-01-01 22:46] wesruv commented on #301
Not yet, there were more layouts than I thought o_o

[2017-01-02 04:34] Dinornis commented on #324
@klonos Is there a way to move an issue from one project to another?  I could not find anything about that in GitHub Help.  Or did you mean move by opening a new issue in the appropriate project and copy the text into the new issue?  Sorry, still trying to get my head around how GitHub works.

[2017-01-02 09:22] klonos commented on #324
No need to apologize @Dinornis. Nobody is born an expert and I surely do not know every aspect of GitHub either. GitHub is a great tool that is provided for free for open source projects and Backdrop uses it for its code. That's all I need to know and I am prepared to learn what needs to be learned. All I have learned so far was from playing around with it + some pointers and help that I got from

[2017-01-02 09:26] klonos commented on #324
...I guess what I meant by my last comment is that you should start playing around with GitHub too, and if you strike parts of the UI that don't make sense or need help with something, then just ask for help and instructions. Start by asking Google, then [the GitHub documentation](https://help.github.com/) and should any of these two fail, then of course us 😉

[2017-01-02 13:29] LeeteqXV commented on #324
Moved issue here: https://github.com/backdrop-ops/contrib/issues/194

[2017-01-05 14:35] docwilmot opened #327 "Add a flag to docs pages for "Needs an update" (or similar)"
We have a tag on the main issue queue for "needs change records". We should either be using that or invent a new tag for when we add or modify things that require documentation updates. Like entity view modes, messing with the field display page, added a new dropdown menu, etc etc etc.
@tomgrandy @jenlampton @klonos what you think? Whatever we decide will need to be retroactive; we'll need to go b

[2017-01-05 19:12] jenlampton commented on #327
Great issue @docwilmot thanks for opening it. I had occasionally been having similar thoughts :)

Change records are for API changes - things that developers need to know when porting modules. They won't be what we need for changes to the UI of view modes - though that's just as important. We should only need change records from API changes between  D7 -> Backdrop 1, and then Backdrop 1 -> 2.

Let

[2017-01-05 19:57] klonos commented on #327
We already have a "docs - need work" tag that [I've actually used a few days ago myself](https://github.com/backdrop-ops/backdropcms.org/issues/326#event-908641442). Would that do? It's only available here though, so we'd need to add that label to backdrop-issues as well.

Yes, but we should also try to save ourselves some energy by crowd-sourcing the discovery of outdated/inaccurate documentation

[2017-01-05 20:00] klonos commented on #327
...seems that I've somehow lost the functionality of my open GitHub browser tabs auto-updating with other people's comments. Just saw that "docs - needs work" was also suggested by @jenlampton 😄

[2017-01-05 20:04] klonos commented on #327
...we already have a "Documentation Status" field available for documentation nodes. How about exposing that to site visitors (or at least registered users) as an actionable link or something (similar to "report as spam")?

[2017-01-08 20:49] serundeputy commented on #250
I've written a POC stackoverflow type forum here: https://github.com/serundeputy/qa_forum ; this could easily be moved to contrib and allow people to set up forums on their sites.

There is work to be done; currently voting is only for the main `question` content type as a POC.

there are issues filed in the issue queue for `qa_forum` for many but not all of the ideas listed in this thread.

Anywa

[2017-01-08 21:32] jenlampton commented on #250
Wow @serundeputy that project looks fantastic!

My only initial concern is that it looks like it's becoming one module that's going to end up doing all the things a forum needs (comment, vote, follow, etc) where each of those are discrete features that can be done on a forum, or not.  Each also already has existing modules in Drupal, and it would be better for the Backdrop community for those proj

[2017-01-09 20:23] wesruv commented on #301
Time to check it out!
http://borg.wesruv.com/

A few caveats:
* The "Why use Backdrop CMS" section on the homepage is completely unstyled
* Footer is unstyled
* There are some rough spots on mobile on the homepage, e.g. Pantheon bar

I'll get to those things, but I thought it'd be good to get people looking at this and banging on it and figuring out what else needs help.

Make sure to check out pa

[2017-01-09 20:27] docwilmot commented on #301
Like. Very much.

[2017-01-09 20:37] jenlampton commented on #301
Great start!  We will need to remove the swirly-pattern for the background of the blue area, and make it less blue before we launch, but this is looking fantastic @wesruv :) There's now a pattern on the gray background too - I hadn't seen those before. Our brand is SIMPLE so the more noise we have in the backgrounds the more off-brand the design becomes. Can we try the gray areas with no pattern,

[2017-01-09 21:43] Dinornis commented on #301
Looks great so far, well done.
Are you aware of how some of the project descriptions are rendered?
This one for example: http://borg.wesruv.com/project/feeds

[2017-01-09 21:55] jenlampton commented on #301
@wesruv this looks fantastic. I had no idea how much you were changing. I am so grateful for the time you have put into this, and feel badly that I haven't given this project the attention it deserves! You are a rockstar, thank you :)

[2017-01-09 22:04] Dinornis commented on #301
At certain display port widths the login link gets covered with the search bar in Firefox and in Safari the search bar gets chopped off.

![navbarsearchfirefox](https://cloud.githubusercontent.com/assets/24782789/21785389/2bc84722-d724-11e6-8b6e-a8d4b6524122.png)
**^^^ Firefox ^^^**

![navbarsearchsafari](https://cloud.githubusercontent.com/assets/24782789/21785388/2bc1ce92-d724-11e6-90a6-b1a935fb

[2017-01-09 22:11] Dinornis commented on #301
The Pantheon block also has some responsive issues around the 800 width. Sorry 8-(

[2017-01-09 22:28] Graham-72 commented on #301
This is such excellent work that it seems ungracious to make a critical comment, but when I view it on my conventional PC the page headings and sub headings seem too large a font-size, also the concentric circles in the background are adding to my eyestrain. But thanks @wesruv for all your hard work.

[2017-01-09 22:57] jenlampton commented on #301
I'm doing a very thorough review, and there are SO MANY places that had specific styling before, that are either completely unstyled now, or look broken.  @wesruv can you please copy in the components.css file from the old theme? We can go through each component's styles and update as necessary, but we can't have everything back to square zero like this. There's just so much work that still needs

[2017-01-10 00:10] Gormartsen opened #328 "ipv6 Support"
We do have ipv6 record for backdropcms.org but server does not handle ipv6 properly

[code]

ipv6 Virtual hosts for nginx need to be properly configured.

Thanks to @cellear for helping with tech details.

[2017-01-10 02:23] #328 closed

[2017-01-10 02:25] quicksketch commented on #328
Per https://kovyrin.net/2010/01/16/enabling-ipv6-support-in-nginx/, we had to enable IPv6 listening in the nginx config files. Though the implementation didn't quite match what was described there. We had to leave the old "listen" line as well as add a new one. Definitions for sites now look like this:

[code]

[2017-01-10 15:21] jlfranklin opened #329 "Bad link to "API & Developer Docs" in Handbook Menu"
In the Handbook submenu, the last item "API & Developer Docs" links to https://api.backdropcms.org/documentation, but that link is dead.

[2017-01-10 15:23] jlfranklin commented on #329
Looks like the whole of https://api.backdropcms.org is routed to www.backdropcms.org, not the API site.

[2017-01-10 16:07] docwilmot commented on #329
This morning on Gitter:
[code]

[2017-01-12 20:35] jenlampton opened #330 "Backdrop 1.6 release blog post"
Backdrop 1.6 is the first release where we know all the new features included before the day we release :)  Let's take advantage of that and draft a blog post ahead of time!

Here's what I think we should highlight in the blog post (open to suggestions/changes!):
* Hamburger menu option (https://github.com/backdrop/backdrop-issues/issues/2369)
* New "Manage displays" page w/ custom view modes (htt

[2017-01-12 20:36] jenlampton commented on #158
I created a new issue for the 1.6 blog post: https://github.com/backdrop-ops/backdropcms.org/issues/330

[2017-01-12 20:38] serundeputy commented on #322
This one got me thinking.  I agree that it would be great to have a place to ask questions, have discussions and flesh out ideas.  I started this module: https://github.com/serundeputy/qa_forum  it is not complete and is opinionated towards a question and answer forum like stackoverflow.

eg by September 2017 we would like 2000 active installs; our most likely market is education facilities; they

[2017-01-12 20:50] jenlampton commented on #322
I struggle with this too, for the same reasons @serundeputy mentions. Maybe we can rotate, and choose one audience for each release? Focus one on NP, next on SM biz, next on Edu, etc? Hmm... On further thinking, this shouldn't be necessary. What all of these audiences need should be in core, what makes them different should be in contrib.

Yes, this has been on our todo list for some time. Before

[2017-01-12 23:12] jenlampton commented on #330
@jordan8037310 we should have the blog post ready soonish.

[2017-01-14 11:23] klonos commented on #322
I more or less feel that to be the case as well.

👍

[2017-01-14 14:23] Graham-72 commented on #322
Here are some thoughts:

**Target markets**
Because of all the excellent UX and DX improvements that have been made, I think there are two main target markets where we can succeed.
1. The novice who wants a quick and easy way to build their own website ‘out-of-the box’.
2. The competent site-builder who values the flexibility and extendibility of Backdrop for building websites for paying clients,

[2017-01-14 15:18] serundeputy commented on #322
I am very keen to see this happen. Is it a one person job or a team effort? If the latter, how can I participate? I hope there will be a section for recording ‘tips and tricks’ as perhaps a stepping-stone to the handbook.

@Graham-72 have a look at this and:

  1. If you agree with the direction say so.

  2.  Feel free to look at any of the issues in that queue and see if they seem like you could

[2017-01-14 18:09] jenlampton commented on #322
It would be great to review at the qa_forum as far as gathering ideas for what we might like on backdrop.cms.org, but @serundeputy that module is not a viable approach architecturally. The biggest problem is that answers/replies are not core's comments, meaning all the existing functionality we have for comments in core (and in contrib) - both in Backdrop and ported Drupal modules - would not work

[2017-01-14 18:13] serundeputy commented on #322
@docwilmot i nominate as chair.

[2017-01-14 19:08] jenlampton commented on #322
I just reread the whole thread and added all the recommended features from the comments into the list in the main post (guessed at organization). Let's use this as our starting point for the meeting next week, and see if we can make a decision on technical direction!

[2017-01-14 19:17] jenlampton commented on #18
Since it sounds like we have decided to build our own forum, I am going to close this issue. Thanks everyone for participating! *eats our own dogfood*

[2017-01-14 19:17] #18 closed

[2017-01-14 19:20] jenlampton commented on #250
Update: I have added an item to the weekly meeting agenda next week to start moving on a discussion forum. To that end, I just reread the whole thread and added all the recommended features from the comments into the list in the main post (guessed at organization). Let's use this as our starting point for the meeting next week, and see if we can make a decision on technical direction!

[2017-01-14 19:49] Dinornis commented on #250
Just wondering, does MVP stand for Minimum Viable Product?

[2017-01-14 19:50] serundeputy commented on #250
yes; you got it!

[2017-01-14 22:12] Graham-72 commented on #322
If you agree with the direction say so.

    Feel free to look at any of the issues in that queue and see if they seem like you could lend a hand or open new issues for direction feature request type things.

@serundeputy I have had a quick look at what you have done and installed it on a test site. I even started trying building a couple of views but I'm afraid I get very distracted by poor styli

[2017-01-15 16:58] jordan8037310 commented on #330
Can we assume this will be ready by mid-week? We will want to target Tuesday, the 24th, for newsletter. @kvalade

[2017-01-15 18:19] jenlampton commented on #330
The newsletter will need to wait for the release of 1.6.1, so can't *really* be scheduled. However, I think that is a realistic ballpark ;)

[2017-01-15 20:44] tomgrandy commented on #330
I'll start on it a soon as I have the release notes and an install to capture from.  Should not take me long.  Midweek is realistic.

[2017-01-15 21:19] jenlampton commented on #330
Hi @tomgrandy the idea was that the blog post could be long done before we have the release notes (for the first time ever!). The release notes won't exist until the release is out. The blog post can be done before then since we already know what will go in it (the list in this issue).

That said, the release will be out later tonight so I guess we missed the opportunity to be ahead of the game :)

[2017-01-15 21:30] tomgrandy commented on #330
My mistake.  I thought I needed the release notes.

On Sun, Jan 15, 2017 at 4:20 PM Jen Lampton <notifications@github.com>
wrote:

[2017-01-16 01:24] klonos commented on #330
Apologies for being unresponsive. Each time I volunteer to do things, it's with the intention to do them if time permits and provided that the universe does not object. From now on, @everybody please feel free to work on anything that I say I want to do. My time is *always* limited and when I get unfortunate in Real Life™, I simply lose motivation to do anything. Sorry.

[2017-01-16 02:01] jenlampton commented on #330
No problem, we'l get 'em next time :)

[2017-01-16 12:59] klonos commented on #329
This got fixed.

[2017-01-16 12:59] #329 closed

[2017-01-16 13:16] klonos commented on #301
A few issues with the hamburger menu on narrow(er) screens...

- Too wide, so the menu is shifted to the left, outside the viewport:

  ![backdropcms org-redesign-hamburger_menu-hidden_off_to_the_left_of_the_screen](https://cloud.githubusercontent.com/assets/2423362/21984402/d2b82398-dc49-11e6-86a7-f540a9507270.png)

- The background of the inactive items seems to be transparent and when the menu

[2017-01-17 15:35] Graham-72 commented on #322
@jenlampton yes, I am planning to join you for this week's meeting and the 'after the meeting' session. Is there anything I need to know about the technology for joining these?

[2017-01-17 17:42] tomgrandy commented on #330
Here ya go:  https://backdropcms.org/news/backdrop-16

[2017-01-17 18:43] jenlampton commented on #322
I don't think so, you should be able to click the link for the google hangout, and it should "just work".  Famous last words! :)

[2017-01-17 18:45] tomgrandy commented on #322
I have to use Firefox on my Mac for some reason and allow certain permissions to camera, etc.

Chrome, of all things, tends to hang on me.

[2017-01-18 15:02] Graham-72 commented on #322
@jenlampton @tomgrandy thanks for the advice. I have also found these reassuring pages:

For joining a hangout in progess:
https://support.google.com/hangouts/forum/AAAAfpFnBZ8uXmp537WmHI?hl=en

For muting microphone:
https://support.google.com/hangouts/answer/1254313?hl=en

I guess it's easy when you know how!

[2017-01-18 18:53] klonos opened #331 "Change the "posted by" template to show the user's full name (if available) instead of the username."
It currently is in the form of:

[user-image] Posted by `%username%` on `%date%` - `%time%`

@jenlampton over Gitter:

I think that that's a great idea. Will need to revert the order of date/time and user so that the additional meta-data goes along with the user. Was think of something like this:

[user-image] Posted on `%date%` - `%time%` by `%username%` (x amount of posts, member for y amount of

[2017-01-18 18:55] klonos commented on #331
...if we implement this now, we need to make sure that the change is preserved with the website redesign.

[2017-01-18 19:01] jenlampton commented on #331
This part of the site should not be getting redesigned (it should be only the home page + navigation and new pages) so it should be safe to visit this now, or at any time.

[2017-01-18 20:34] tomgrandy commented on #331
Great idea!

[2017-01-19 20:35] quicksketch commented on #301
As usual we covered the redesign in video-form during the fort-nightly design call: https://www.youtube.com/watch?v=3_HFj_tuau8

The relevant portion of our discussion:

- Lets focus on implementation and technical issues in this issue here (as we have so far recently).
- We have a designer (Nica) who will be providing guidance on restyling the hero and key homepage elements.
- Other branding chan

[2017-01-19 21:01] tomgrandy commented on #313
@jenlampton - As point person on the menus, I think this issue is a good place to finalize since there has already been some input.  Will delve deeper, I am sure, but would like to give @wesruv a menu with links and go through the site and ensure we are not missing anything and what is there has a flow to it for the reader.

There are a few other discussion items regarding Guidebook/Handbook at ht

[2017-01-19 21:04] jenlampton commented on #330
Love~!

[2017-01-19 21:04] #330 closed

[2017-01-19 22:52] jenlampton commented on #250
I've updated the list in the top post based on our discussion in the post-meeting forum-discussion today.  @docwilmot and @Graham-72 we would value your voices in this discussion too. Would you add a comment here if there are any features you feel we are missing, either in the "Minimum Viable Product" list, or the "nice to have" list?

My next steps are to do a code review of the forum module @doc

[2017-01-19 22:56] jenlampton opened #332 "set up bakery module so cookies can be shared across all *.backdropcms.org sites"
We want to have one master set of user account data. This will include email address, username, and password, but also all other profile data collected on bacldropcms.org.

Users should be able to log-in, using this same username/email/pw combo on any of the backdropcms.org sites, including:
* forum.backdropcms.org
* api.backdropcms.org
* localize.backdropcms.org
* anything else we need in the fut

[2017-01-19 22:58] jenlampton opened #333 "set up flags for forum posts"
* Spam / Abusive (everyone)
* Helpful (everyone)
* Accepted answer (node author)
* Frequently Asked Question (moderator)

[2017-01-19 23:24] jenlampton commented on #332
moved to the forum issue queue: https://github.com/backdrop-ops/forum.backdropcms.org/issues/1

[2017-01-19 23:25] jenlampton commented on #333
Moved to the forum queue: https://github.com/backdrop-ops/forum.backdropcms.org/issues/2

[2017-01-19 23:25] #333 closed

[2017-01-20 01:48] wesruv commented on #313
@tomgrandy I really like the menu structure you laid out here: https://github.com/backdrop-ops/backdropcms.org/issues/313#issuecomment-269792408

[2017-01-20 01:57] jenlampton commented on #313
I love @tomgrandy's latest recommendation, so I have added that to the parent issue as our desired outcome. A few thoughts:

* I don't mind the about section coming first.
* we don't have a page for weekly meetings (yet?)
* the "Service providers" page was missing from your list (I added it)
* "Ways to Contribute" is sort-of the opposite of support. Leave it in About?
* I like the idea of having a

[2017-01-22 22:33] Dinornis commented on #232
In D6 I am using [Search Lucene API](https://www.drupal.org/project/luceneapi) which allows me to set configurable levels of importance on certain items when scoring is calculated for search results. Results having matched items with larger boost factors are returned higher in searches.  For example I set a higher bias for `Title` and lower bias for `Body`.

Unfortunately [Search Lucene API](https

[2017-01-23 04:41] Dinornis opened #334 "Importance of BackdropCMS.org Functionality"
It is amazing how much you guys accomplished in 3 years.  This may be a good time to step back and see where BackdropCMS.org can be improved overall to help attract a larger user base.

When thinking about ways of attracting more people to Backdrop, you may wish to consider the influence functionality of BackdropCMS.org has on people looking for a CMS.

The focus on making BackdropCMS.org a well f

[2017-01-27 05:00] jenlampton commented on #250
Hey all, good news! I've startetd work on [forum.backdrpcms.org](https://forum.backdropcms.org) and we now have [our own issue queue](https://github.com/backdrop-ops/forum.backdropcms.org/issues) where we can continue to work out the details :)

I've split the results of this issue into two meta's over there:
* [[META] build out minimum viable product feature set] (https://github.com/backdrop-ops/

[2017-01-27 05:00] #250 closed

[2017-01-27 05:59] jenlampton commented on #290
Thanks for the feedback @laryn I've fixed he spelling/typo issue,but can't see the alignment problem. Are you still seeing it? https://backdropcms.org/support

If so, which browser, and at about what screen size?

[2017-01-27 06:09] jenlampton commented on #249
I've moved this issue over to the forum queue: https://github.com/backdrop-ops/forum.backdropcms.org/issues/6

I'll be closing this issue here, but please feel free to weigh in over there!

[2017-01-27 06:09] #249 closed

[2017-01-27 06:45] larsdesigns commented on #220
@quicksketch I would like to still implement this. I did notice that new certificates were purchased last October but I am convinced that Let's Encrypt is fantastic long term solution.

[2017-01-27 06:47] #30 closed

[2017-01-27 06:52] larsdesigns opened #335 "Server Maintenance Yum Updates"
I would like to perform yum updates this Sunday night starting at 11:00pm MST and restart the servers.

I will also run rkhunter, have a look at the logs, and check the firewall.

@quicksketch @jenlampton @sirkitree

If this sound good to everyone, I will proceed.

[2017-01-27 06:55] jenlampton commented on #335
That would be great. Can you also look into what is required for getting multibyte support? I think we need to upgrade mysql. If that can be done at the same time (with low risk) that would be fab!

[2017-01-27 06:57] larsdesigns opened #336 "NRPE Install"
Can I have permission to install NRPE on the hosts and monitor using my companies Nagios implementation?

This way I can help respond faster to problems and better keep track of yum updates, load etc. I will provide Nagios site access to the team.

We can also use NRPE data for our Munin implementation down the road.

If this is acceptable, I would like to implement NRPE using Yum packages this Su

[2017-01-27 07:04] jenlampton commented on #336
@larsdesigns that sounds great to me!  Yes please, and thank you.

[2017-01-27 07:06] larsdesigns opened #337 "Hosting OS Updates Using Ansible"
I would like to propose that I author Ansible playbooks to perform automated server maintenance on all of our servers as a batch.

The Ansible playbooks would include:

1. Performing Yum updates.
2. Rebooting the servers.
3. Checking the firewall rules as output to downloaded log files.
4. Performing RKhunter check and downloading the logs.

The Ansible playbooks will only be permitted to run from

[2017-01-27 07:08] jenlampton commented on #337
This sounds scary. I defer to @quicksketch

[2017-01-27 07:13] larsdesigns opened #338 "New Sandbox Server"
@jenlampton Requested that I build a new Sandbox server on Linode and document the build using Ansible and/or Linode StackScripts.

Thought I would make a ticket to track progress.

@quicksketch

[2017-01-27 07:22] larsdesigns opened #339 "Automated Security Updates for Backdrop Sites"
Create Ansible playbooks that to perform security updates to our hosted Backdrop CMS sites as a batch.

The Ansible plays will use Backdrop Drush and Git to perform the updates.

@quicksketch @sirkitree @jenlampton

[2017-01-27 07:33] larsdesigns opened #340 "ci-backdropcms-org Server Linode Upgrade"
Perform the following tasks on Sunday January 29th starting at 11:00pm MST:

1. Enable a Linode backup for the Server: ci-backdropcms-org.
2. Perform the free upgrades available to the host.

To be performed with #335.

@quicksketch @jenlampton @sirkitree

[2017-01-27 07:59] larsdesigns commented on #335
@jenlampton Looks like we are using the following version of MySQL:
mysql  Ver 14.14 Distrib 5.5.52, for Linux (x86_64) using readline 5.1

I recommend we switch to MariaDB 10x which provides better support for Multibyte. it will also improve stability and performance.

Can I open a ticket/issue for this?

[2017-01-27 09:47] olafgrabienski commented on #290
The alignment issue happens above 414px and below 1024px screen width (Chrome on Mac OS).

[2017-01-27 14:56] huizache opened #341 "transliteration does not work"
backdrop 1.6 fresh install,  marking it in alias patterns settings. it unmarks itself when configuration is saved, and then does not transliterate...

[2017-01-27 15:03] docwilmot commented on #341
wrong issue queue still @huizache, should be https://github.com/backdrop/backdrop-issues/issues

[2017-01-27 16:07] serundeputy commented on #341
This smells like `system_settings_form()` to me.
possibly related to: https://github.com/backdrop/backdrop-issues/issues/2478

[2017-01-27 16:15] tomgrandy commented on #326
Went through the User Guide and replaced all references to sample URL with example.com and ensured the URL was styled as monospace.

[2017-01-27 16:15] #326 closed

[2017-01-27 16:18] tomgrandy commented on #313
@jenlampton - How can I access the new site that @wesruv created to adjust the menus?

I could help get that knocked out today.

[2017-01-27 17:04] tomgrandy commented on #311
Better never than late, eh?

I have added the proposed 4th step from @serundeputy above to the Installation Instructions since it looked perfectly fine to me.  Sorry I missed this but am still learning how to navigate around GitHub.  Getting better, though.

If anyone wants to rewrite or correct, feel free but it is out in the wild and available via:

https://backdropcms.org/installation

[2017-01-27 17:04] #311 closed

[2017-01-27 18:39] Dinornis commented on #290
I see this in other browsers also.  A quick fix would be to add `<br />` after the title of the first book.  A better long term solution would be to take advantage of CAPTION for images.

[2017-01-27 22:01] olafgrabienski commented on #290
Another quick fix:

- add `display: block;` to the links which surround the book covers
- optional: remove `text-align: center;` from `.backdrop-books`

[2017-01-27 22:01] jenlampton commented on #335
yes please :)

[2017-01-27 22:01] jenlampton commented on #338
Thank you!

[2017-01-27 22:19] jenlampton commented on #313
I don't think anyone has access to that except for Wes. We'll need to do it on the actual site once we're ready, so I don't think there's any real urgency to doing it on the dev site.

[2017-01-29 00:42] huizache commented on #341
had my kid on top of me... sorry will correct

[2017-01-29 00:42] #341 closed

[2017-01-29 05:41] larsdesigns opened #342 "Database Multibyte Upgrade"
Upgrade to MariaDB 10x and upgrade the databases to support multibyte.

@jenlampton

[2017-01-30 22:29] Dinornis opened #343 "SEO: Same Content - Two URLs"
**Problem:**
Although an alias provides nice clean URLs for paths, Backdrop does not remove the old paths (eg node/208) so there are now two URLs representing the same content. Search engines may penalise b.o for duplicate pages.

**Example:**
The Date (basic) project page shows up in searches under two URLs:
https://backdropcms.org/node/208
and
https://backdropcms.org/project/date_basic

**Soluti

[2017-01-30 22:31] Dinornis commented on #334
SEO is just as important.
* https://github.com/backdrop-ops/backdropcms.org/issues/343

[2017-01-30 22:42] Dinornis commented on #244
Looks like this has been fixed and can be closed?

[2017-01-31 05:04] larsdesigns commented on #335
I am going to do the maintenance around midnight tonight.

[2017-01-31 05:05] larsdesigns commented on #338
I am going to build this tonight around midnight after the updates. I apologize for the delay. I was swamped last night.

[2017-01-31 05:05] larsdesigns commented on #336
I will complete this tonight along with the updates.

[2017-01-31 11:24] larsdesigns commented on #336
1. Completed the installation of NRPE and plugins on both servers.
2. Configured the firewall to allow my Nagios server to connect to NRPE.
3. Configured Nagios checks for both servers.
4. Configured backup admin access and notification to the Nagios interface.
5. I will issue to credentials to @quicksketch and @jenlampton and any other OPS members who are interested.

No further tasks.

[2017-01-31 11:26] larsdesigns commented on #335
Performed the yum updates and reboots for both servers. Reviewed the firewall rules and they seem fine.

 No further tasks.

[2017-01-31 11:26] #335 closed

[2017-01-31 11:26] #336 closed

[2017-01-31 11:29] larsdesigns commented on #340
Performed the free memory upgrade.

No further tasks. Closing...

[2017-01-31 11:29] #340 closed

[2017-01-31 11:32] larsdesigns commented on #342
I forgot that the servers are on CentOS 6. I will have to dig a little more to find a good yum repo.

[2017-01-31 11:33] larsdesigns commented on #338
I got as far as I could tonight. I will work on this later today.

[2017-01-31 13:41] klonos commented on #343
@Dinornis it's in the plans for core: https://github.com/backdrop/backdrop-issues/issues/868

...but as it happens for many of the things in our to-do list, there is not enough time. We'll get there 😉

[2017-01-31 14:38] klonos opened #344 "Make location field optional for user profiles."
Drop seems to be residing in Afghanistan ...which is the 1st country in the list and gets auto-selected. Would be great to either make the field optional (and hide it from the sidebar if empty) or to allow "none" as country and set that as the default.

[2017-01-31 14:46] klonos commented on #344
Related: https://github.com/backdrop-contrib/addressfield/issues/6

[2017-01-31 15:01] docwilmot commented on #344
I fail to see your point. There are indeed [dragons from Afghanistan](http://www.businessinsider.com/afghan-mythology-is-home-to-monsters-2013-3)

[2017-02-01 16:14] laryn opened #345 ""This site may be hacked""
When doing a Google search for "Backdrop CMS" the result comes up with a warning that "This site may be hacked".

<img width="683" alt="screen-shot-2017-02-01-at-11 13 33-am" src="https://cloud.githubusercontent.com/assets/871421/22515182/4332a80e-e867-11e6-88fe-a3ea3068bfd1.png">

[2017-02-01 16:18] Gormartsen commented on #345
Remove this message from your site
The "This site may be hacked" notification won't be removed until the webmaster of the site takes action.

Try these steps to fix your website:

Register and verify your site in Google’s Search Console.
Sign in to Search Console and check the "Security Issues" section to see details of sample URLs that might be hacked. Fix the security issue that allowed your web

[2017-02-01 16:21] laryn commented on #345
I have a guess.
In the "We support" section somebody added a spammy looking company.

<img width="1127" alt="screen shot 2017-02-01 at 10 19 11 am" src="https://cloud.githubusercontent.com/assets/871421/22515461/25af2888-e868-11e6-8319-e94dcdc9acf4.png">

Maybe that triggers the hacked warning.

[2017-02-01 17:33] Dinornis commented on #345
I think @larsdesigns has admin access to the server and can check into this.  It may be just a false flag by google, but would be good to scan the server.

You would think google would contact the site owner before flagging the site this way.

[2017-02-01 20:56] larsdesigns commented on #345
I just performed maintenance and did not see any red flags but I will run another scan.

Let's try to remove the div mentioned above and check the results.

[2017-02-01 21:09] larsdesigns commented on #345
I have attached the rkhunter results. Everything looks okay to me. I think it is probably a content problem on the site.

[backdropcms_rkhunter.txt](https://github.com/backdrop-ops/backdropcms.org/files/746151/backdropcms_rkhunter.txt)

[2017-02-01 22:45] jenlampton commented on #345
There were also been a few spammy event posts, but they have since been removed.  I'm working through the steps outlined by @Gormartsen now.

[2017-02-01 22:55] jenlampton commented on #345
I have addressed all issues, and requested that a review of our site. That message should come down in the next 24 hours :)

[2017-02-02 20:53] jenlampton commented on #301
Here's the latest/final design from Nica for the home page:
![home](https://cloud.githubusercontent.com/assets/397895/22567851/6185c298-e946-11e6-9f1f-ed0f50a8bef6.png)

I'm working to try to get us from where we are over the finish line today. More updates later.

[2017-02-02 21:06] docwilmot commented on #301
Wow its a bit purple blue green!

[2017-02-03 00:23] klonos commented on #301
As I mentioned during the design meeting today (or was it the dev meeting?), I really like how the new colorful hero looks around black color and white text. Not so sure about interchanging black and white regions as people scroll down though. White text over black background might be ok for menu items and some small sections, but not that sure about the readability of big portions of white text o

[2017-02-03 00:27] klonos commented on #301
@docwilmot it's [teal purple and pink](https://www.google.com.au/search?q=teal+purple+and+pink+hair&tbm=isch) and I don't know about the US or other parts of the world, but it seems to be a thing here is Australia 😄 👍

[2017-02-03 04:52] wesruv commented on #301
I love it!

On Feb 2, 2017 4:27 PM, "Gregory Netsas" <notifications@github.com> wrote:

[2017-02-03 12:39] klonos commented on #345
What were they exactly? Was it the spammy-looking entry in the support section?

[2017-02-03 14:02] tomgrandy commented on #301
Looks great!

[2017-02-03 18:44] jenlampton commented on #345
Yes. Support, showcase, and events. All items have removed, and all naughty users blocked. I also adjusted the content types so everything starts unpublished and needs approval to prevent this from happening again.

[2017-02-05 18:14] klonos commented on #345
I believe we should have an email notification that goes out to site admins each time a new node of these types is created (or modified) so that we can act faster rather than having these sit there as unpublished until somebody notices.

[2017-02-05 23:52] jenlampton commented on #345
I do make it a practice to check all unpublished nodes every Thursday. We don't have any email notify modules on the site yet but we could add this feature once we add one (or port one).  @klonos can you please make a separate issue for that?

[2017-02-06 00:32] serundeputy commented on #345
my google searches still show the subheader `this site maybe hacked`.

[2017-02-06 02:24] Dinornis commented on #345
Since D6 I have been using [Actions](https://www.drupal.org/project/actions) and [Trigger](https://www.drupal.org/project/trigger) (now [Rules](https://www.drupal.org/project/rules)) for this exact purpose.

[2017-02-06 07:22] Graham-72 commented on #176
How are we going to encourage others to add their sites to the Showcase? There must be several out there. Can people recommend, perhaps here, any they come across?

[2017-02-06 09:20] jenlampton commented on #345
Can you please put that comment in the other issue?

- -
Please excuse brevity and typos. Message typed with my thumbs from an Open
Source OS.

On Feb 5, 2017 6:24 PM, "Dinornis" <notifications@github.com> wrote:

[2017-02-06 22:12] #345 closed

[2017-02-07 16:17] klonos opened #346 "Email notifications for site admins/moderators (new content added for example)."
Excerpt from the conversation in https://github.com/backdrop-ops/backdropcms.org/issues/345#issuecomment-277237758 between @klonos & @jenlampton :

Here's the issue then 😉

[2017-02-07 16:18] klonos commented on #346
...comment from @Dinornis

[2017-02-07 16:19] klonos commented on #345
Done 😉

[2017-02-07 16:23] laryn commented on #346
Rules does have a work-in-progress version:
https://github.com/backdrop-contrib/rules

[2017-02-07 18:08] jenlampton commented on #346
And again, for the record, I would prefer not to have Rules on any of Backdrop's own websites. There are always better options :)

[2017-02-07 18:13] jackaponte commented on #346
Curious, Jen--why do you avoid Rules, and what are the better options for this sort of functionality? (Hopefully that's not too much of a sidetrack to this conversation!)

[2017-02-07 18:55] jenlampton commented on #346
I'm ambivalent about rules.

## On one hand, I object to it on philosophical reasons (and have for years).

It's a user interface for writing If statements. It's a large cumbersome piece of code with a confusing UI, and in the end there are thousands of lines of code required to do an operation that would take roughly 3 lines if you were to do it yourself. Having a UI for if statements (and a bad

[2017-02-07 21:24] Dinornis commented on #346
**So what options do Backdrop users have right now?**

The suggestion of having all new content staring as unpublished pending approval may work for BackdropCMS.org, however, that is not an option for many community websites.

[2017-02-07 21:29] jenlampton commented on #346
Fortunately, this queue us only for backdropcms.org :)

[2017-02-07 21:56] Graham-72 commented on #346
I am delighted to see @jenlampton 's comments. I ported Rules because I wanted a way of generating a tweet to Twitter when a particular type of content was added to a site, and I had previously used Rules to do this in a D7 site. But Rules is big and complicated to port as well as use. It would be good if something much simpler could be produced as a contrib module. Is there anything else out ther

[2017-02-07 22:04] Dinornis commented on #346
Are [Actions](https://www.drupal.org/project/actions) part of Backdrop core?  I don't think they are.

[2017-02-07 22:06] jenlampton commented on #346
For this particular job, how about https://www.drupal.org/project/notify?

We do have actions, our bulk operations system uses them.

[2017-02-07 22:15] Dinornis commented on #346
So why not use actions and triggers?

[2017-02-07 23:11] jackaponte commented on #346
Thanks for the response re: your take on Rules, Jen! I skimmed it and will read it more thoroughly soon, as a frequent Rules user.

Sounds like it fits the bill to me, and would be a valuable addition to Backdrop contrib.

[2017-02-07 23:19] jenlampton commented on #346
Because we don't have triggers ;)

[2017-02-08 00:02] klonos commented on #346
Although the port of Rules needs to happen at some point if we want more people to consider moving to Backdrop (lots of sites using it for more than just notifications), I agree that currently and for the specific task at hand, porting Notify seems more reasonable. So :+1: to that from me.

[2017-02-08 05:27] Dinornis commented on #346
Actually both Drupal 6 and Drupal 7 have this functionality in core so all Drupal users have to do is enable the Trigger module, create a new `Send E-mail...` action and assign it to the `Save New Content` Trigger.

What were the reasons to remove the Trigger module?  Would it be easier to port it to Backdrop at least until a better option is sorted? Will porting [Notify](https://www.drupal.org/pr

[2017-02-08 06:50] jenlampton commented on #346
Really? How did I not know this was possible....

[2017-02-08 09:25] olafgrabienski commented on #346
I'm also curious why Trigger module was removed. Didn't find relevant issues in the [Backdrop queue](https://github.com/backdrop/backdrop-issues/issues), apart from https://github.com/backdrop/backdrop-issues/issues/142#issuecomment-33662861 where @quicksketch states that Trigger "isn't around any more".

[2017-02-08 16:51] laryn commented on #346
I'm guessing Trigger was taken out in early Drupal 8 development (before Backdrop forked). See:

https://www.drupal.org/node/764558
and
https://www.drupal.org/node/2116417

[2017-02-08 21:18] Graham-72 commented on #346
I am having a go at porting the Notify module.

[2017-02-18 20:14] oadaeh opened #347 "CSS Coding Standards page has conflicts"
On the CSS Coding Standards page (https://api.backdropcms.org/css-standards), specifically in the Format -> Properties section (https://api.backdropcms.org/css-standards#format), there is this statement:

In the example beneath it, there is this:

[2017-02-18 21:10] oadaeh commented on #347
I moved this here: https://github.com/backdrop-ops/api.backdropcms.org/issues/39

[2017-02-18 21:10] #347 closed

[2017-02-24 02:42] klonos opened #348 "Add default profile images (for when people do not upload one)."
From Gitter:

Jen Lampton @jenlampton 06:59

[2017-02-24 02:51] klonos commented on #348
...could be random dragon images 😄  ...I think that someone has already suggested that before, but perhaps for another thing.

[2017-02-24 14:27] ColumbiaBlooms commented on #348
I updated my profile picture.

[2017-02-24 18:43] cellear commented on #338
Is this sandbox server ready to go?  Should I stage borg theme updates here? (If so, I would need some creds)

[2017-02-24 19:00] jenlampton commented on #338
I don't think we have a sandbox server. Just commit your changes to a new
branch and ping me when they are ready for review.

- -
Please excuse brevity and typos. Message typed with my thumbs from an Open
Source OS.

On Feb 24, 2017 10:43 AM, "Luke McCormick" <notifications@github.com> wrote:

[2017-02-24 19:31] larsdesigns commented on #338
Ack, I apologize for the delay. I will work on the server this evening.

[2017-02-26 07:08] jordan8037310 opened #349 "Backdrop Content Strategy Map"
Hello!

We have built a content strategy map to organize the Backdropcms.org content strategy for the website and various communication channels such as newsletters.

We're looking for feedback on the content strategy map, as well as additional content ideas.

The overall goal for this content map is to develop a cohesive content roadmap for Backdrop, and to create a space for brainstorming conten

[2017-02-27 06:06] larsdesigns commented on #338
Okay, here we go.

[2017-02-27 18:10] larsdesigns commented on #338
Completed the following tasks:

1. Created a 1GB Linode VM
2. Installed and configured a working lemp stack.
3. Configured IPtables firewall.
4. Installed certbot.
5. Created virtual host for test.backdropcms.org using test_backdropcms_org.conf file.
6. Installed nrpe for Nagios and Munin monitoring.
7. Installed Emacs for me :-)
8. Configured MariaDB using secure installation program.
9. Created

[2017-02-27 18:16] jenlampton commented on #338
Will this be an exact copy of the other server?  Will it have
api.backdropcms.org and forum.backdropcms.org too, so we can use it to test
bakery module?

- - -
Jennifer Lea Lampton | 510-747-8230
Jeneration Web Development
Backdrop CMS & Drupal
www.jeneration.com

On Mon, Feb 27, 2017 at 10:10 AM, Justin Christoffersen <
notifications@github.com> wrote:

[2017-02-27 18:24] larsdesigns commented on #338
Oh, it is a new server build with updated nginx, mariadb, etc.

However, I can also make a clone of the server that has forum.backdropcms.org too.

[2017-02-27 18:45] larsdesigns commented on #338
Cancel the request for the public keys. I found your keys on one of the other servers, created the use and tested.

[2017-02-27 19:10] jenlampton commented on #338
We only have one other server.... This should be an exact copy. Can we do
that with linode?

- -
Please excuse brevity and typos. Message typed with my thumbs from an Open
Source OS.

On Feb 27, 2017 10:45 AM, "Justin Christoffersen" <notifications@github.com>
wrote:

Cancel the request for the public keys. I found your keys on one of the
other servers, created the use and tested.

—
You are recei

[2017-02-27 19:49] larsdesigns commented on #338
Yes, I will create a clone of the VM this evening. If I run into a snag, I will ask linode to push it along. They have helped me with this before.

[2017-02-27 23:48] larsdesigns commented on #338
To clone the server, I will need to halt it for probably an hour. The clone process will not run on a running VM. I will do so tonight around midnight. I will perform a manual backup of the server image also prior to halting the VM.

[2017-02-27 23:58] jenlampton commented on #338
Ah okay. Are there smarter ways to copy a whole server? I expect we may need to do this again every so often :)

[2017-02-28 00:31] larsdesigns commented on #338
Looks like they have a new Images section but it is in beta. I think we can use Docker but I will look into it.

[2017-02-28 01:07] jenlampton commented on #349
I would love to see more beginner focused site-architecture how-tos, blog posts or videos on things like content types and taxonomy.

[2017-02-28 10:00] larsdesigns commented on #338
Starting the clone process.

[2017-02-28 11:29] larsdesigns commented on #338
The new clone server is up and running. I had to enable "Auto-configure Networking" in the profile and reboot to gain access to it. This setting is not enable by default and leaves our new baby clone without a public IP as I found using a glish session.

@jenlampton Would you like for me to delete the sandbox server I created last weekend?

[2017-02-28 17:25] jenlampton commented on #338
Yes, if you think we won't need it :)

[2017-03-02 21:18] jenlampton opened #350 "IMP: Redo all layouts to remove double sidebar"
As part of implementing the new home page design, we will need to update all the layouts currently in use, and switch out the templates with core layouts where possible.

On most layouts the same things will need to be changed:
- Add header block
- Add menu block
- Add search block
- Add powered by backdrop block

There are a few layouts, however, that have custom block placement based on what fie

[2017-03-02 21:19] jenlampton opened #351 "IMP: Add missing header elements from design"
Updated issue:
- [x]  place user menu block into header + style
- [x]  place social links block into header + style
* See https://github.com/backdrop-ops/backdropcms.org/issues/370 Re adding a search box

---
Original issue:

After the new blocks are in place on core layouts, we will need to theme the header region. I believe most of this work has been done already in Wes's new theme, so the remai

[2017-03-02 21:37] jenlampton opened #352 "IMP: Theme responsive drop-down menu"
In order to launch the new home page design, we'll also need to theme the responsive drop-down menu. The navigation on Wes's site already looks beautiful, but the end-result there is a combination of:
* core CSS/JS
* basis CSS/JS
* sub-theme CSS/JS

In order to reproduce this same effect on the backdropcms.org theme we'll need to 1) remove our old theme's CSS and then add 2) include css/js from we

[2017-03-02 21:41] jenlampton opened #353 "Theme footer region"
The footer region has a new design, and theming it may prove a bit tricky since it has a two-column layout, and core footer regions do not.

One possible solution to this would be to override all core layout template files in our theme, and add an additional `<div class="row">` around where the footer region is printed. This would enable us to add bootstrap classes directly to the blocks as they a

[2017-03-02 21:45] jenlampton opened #354 "Build new "install backdrop" page"
The new home page design includes a link to a page that tells people different ways they can install backdrop. We will need to build this page on backdropcms.org. Perhaps as a stand-alone layout?

Tools to include:

For local set-up
* Kalabox
* XAMP
* IZ-WAMP Backdrop

Remote:
* Pantheon
* (any other hosting providers who want to promote a one-click install?)

I believe this is 'done' on Wes's bra

[2017-03-02 21:49] jenlampton opened #355 "Build new home page elements"
The new home page design has a few elements that were not present on previous designs:
- [x]  Hero block w/ background images (hero block)
- [x] - Showcase block (view)

And we have a separate issue for... Key features block with text/left and image/right (view) (see related https://github.com/backdrop-ops/backdropcms.org/issues/356)

[2017-03-02 21:51] jenlampton opened #356 "Complete "Key features" content for new home page"
Our new home page design includes a Key features block with text/left and image/right.  This should be a view of our content type "features" but we need to have text and images created/added for at least 5 key features:
* Mobile-friendly
* Easy editing
* Customizable
* Extendable
* Secure

[2017-03-05 06:09] larsdesigns commented on #338
It could be helpful. But I can always make another one.

[2017-03-05 06:10] larsdesigns commented on #338
Will you be needing any domain or sub domain configured in Nginx? Such as test.backdropcms.org or something?

[2017-03-06 19:21] jenlampton commented on #338
yeah, can we do them all with a new subdomain test.?  Something like...

test.www.backdropcms.org
test.api.backdropcms.org
test.forum.backdropcms.org

And we should probably password protect them too... but I wonder how that will affect the bakery testing. Maybe not yet :)

[2017-03-06 23:23] larsdesigns commented on #338
I can make the changes in Nginx but I do not have access to the DNS. If you want to send me the credentials, I can make the A records or just send me a list of the A records that were created.

[2017-03-07 01:45] jenlampton commented on #338
I don't have DNS access. @quicksketch ?

[2017-03-08 23:49] ColumbiaBlooms opened #357 "Reword upgrade instructions @ https://backdropcms.org/upgrade"
Steps 6 & 7 seem ambiguous. Possible re-wording:

6. Rename the root directory of your current codebase/file structure "old" or similar, and move it outside your Backdrop root directory.

7. Put the newly downloaded codebase/file structure from the latest release of Backdrop CMS inside your root directory."

I would also add a step 7.5. Copy the settings.php file from the "old" directory to the ro

[2017-03-09 12:46] serundeputy commented on #357
That won't work you are only supposed to rename the `BACKDROP_ROOT/core` directory to `BACKDROP_ROOT/old-core-1.6.1` not the whole backdrop codebase.

[2017-03-09 14:04] ColumbiaBlooms commented on #357
How about -

6. Rename the root directory of your current core directory to "old" or similar, and move it outside your Backdrop root directory.

7. Put the newly downloaded core directory from the latest release of Backdrop CMS inside your root directory.

[2017-03-09 20:54] Graham-72 commented on #349
I would like to see something about contributed modules which to my mind are so important to the Backdrop project. We need to be boasting about those that are available.

[2017-03-09 21:58] jenlampton commented on #349
@Graham-72 would you like to write up a blog post on the topic?  You could use something like this slide from our Backdrop session:
![screen shot 2017-03-09 at 1 57 48 pm](https://cloud.githubusercontent.com/assets/397895/23772616/77e36144-04d0-11e7-911a-022b32299eeb.png)

[2017-03-10 01:37] jenlampton opened #358 "Automated, sanitized, backups"
@larsdesigns do you think we could set up backdropcms.org to make it's own daily sanitized DB backups?  Ideally we would place them in a htpasswd-protected directory that was web accessible.

The big idea: we want anyone who wants to help work on backdropcms.org to be able to grab a recent sanitized DB dump, without the bottleneck of asking someone with perms to create one for them.  I'm open to o

[2017-03-10 05:28] jenlampton opened #359 "Where is the error log?"
hi @larsdesigns, quick question: where does PHP log it's errors on this server? I checked php.ini and it seems to think the error log is `/var/log/php-fpm/www-error.log` -- but that file does not exist. I found a file named `error.log` but it does not contain the errors I'm looking for. Other ideas?

[2017-03-10 05:53] jenlampton commented on #359
I couldn't figure out the logs, so I just enabled error logging to the screen and restarted php-fpm. The fatal that's happening on the server (and not on my local) is `Fatal error: Call to undefined function mcrypt_module_open()`.

I guessed like we needed to install mcrypt, so I ran `yum install php-mcrypt` and then restarted php-fpm again. Now Bakery is working!!! :)  But if you could fix the lo

[2017-03-10 06:28] Graham-72 commented on #349
@jenlampton I will gladly write up a blog post but not for a week or two. Bit busy just now, like everyone else it seems.

[2017-03-10 06:37] jenlampton commented on #349
That works for me :)

[2017-03-10 07:58] larsdesigns commented on #359
I am having a look.

[2017-03-10 08:09] larsdesigns commented on #359
I changed the configuration so that php-fpm www pool is logging to /var/log/php-fpm/error.log.

The file that it was supposed to be logging to did not exist. So, sorry no log. Also, I checked for a syslog which would be the default but it did not exist either.

[2017-03-10 08:10] larsdesigns commented on #359
We looks like logging is now successful.

larsdesigns@www1 /v/log> sudo tail -f  /var/log/php-fpm/error.log
[05-Mar-2017 03:39:01] NOTICE: error log file re-opened
[10-Mar-2017 08:04:52] NOTICE: Terminating ...
[10-Mar-2017 08:04:52] NOTICE: exiting, bye-bye!
[10-Mar-2017 08:04:52] NOTICE: fpm is running, pid 32031
[10-Mar-2017 08:04:52] NOTICE: ready to handle connections

[2017-03-10 08:12] larsdesigns commented on #338
I am going to go ahead and take down the new server I created that we are not using to save confusion later.

[2017-03-10 16:02] jenlampton commented on #359
Thank you!!!! :)

- -
Please excuse brevity and typos. Message typed with my thumbs from an Open
Source OS.

On Mar 10, 2017 12:10 AM, "Justin Christoffersen" <notifications@github.com>
wrote:

[2017-03-10 21:03] #359 closed

[2017-03-11 23:40] serundeputy commented on #354
@jenlampton do know which branch is `Wes's` branch?

[2017-03-12 02:49] jenlampton commented on #354
The one with the best theme borg_basis or basis_borg.

- -
Please excuse brevity and typos. Message typed with my thumbs from an Open
Source OS.

On Mar 11, 2017 3:40 PM, "Geoff St. Pierre" <notifications@github.com>
wrote:

[2017-03-12 03:59] mikemccaffrey commented on #351
Changing this to adding the new header links and social buttons since the styling was done as part of moving things around in #350 .

[2017-03-12 04:04] mikemccaffrey commented on #350
I've gone and created a new branch to handle the work of this ticket: https://github.com/backdrop-ops/backdropcms.org/tree/350-new-header-design

The theme styling has obviously changed, and I updated the layouts and the new configuration is in the dev-active directory.

You can check out the progress on my dev site:
http://backdropcms.mikemccaffrey.net/

The home page needs some work since there

[2017-03-13 18:37] jenlampton opened #360 "GitHub download count showing 0 for all projects"
Did the GitHub API change over the weekend? This was working on Saturday.

I just manually updated core's page: https://backdropcms.org/project/backdrop
but all others are still showing zero: https://backdropcms.org/project/webform

[2017-03-13 19:35] jenlampton commented on #350
That's a good idea - launch the removal / replacement of the layouts before anything else.

I don't see any mention in your comment above about the layout customizations mentioned in the ticket, and making sure those things still work after the layouts have been replaced. I checked a showcase node, and it looks like all the block placements have been lost: http://backdropcms.mikemccaffrey.net/show

[2017-03-13 19:42] jenlampton commented on #351
Can you clarify what you mean by "adding the new header links"  (and maybe update the ticket description itself?)

If you mean adding the the user menu, that should maybe be included in https://github.com/backdrop-ops/backdropcms.org/issues/350?) If you mean updating the menu items - I beleve we alredy have another issue for that too: https://github.com/backdrop-ops/backdropcms.org/issues/313

Als

[2017-03-13 22:07] serundeputy commented on #360
@jenlampton
You can either just let this run again tonight and as long as the same problem doesn't happen again it populate the download counts ~2AM EST.

Or if you login to the server and comment out this if statement: https://github.com/backdrop-ops/backdropcms.org/blob/master/www/modules/custom/borg_project_metrics/borg_project_metrics.module#L68

You can then just run cron from the Backdrop UI

[2017-03-13 22:30] jenlampton commented on #360
that totally worked :)

[2017-03-14 17:30] serundeputy commented on #360
and all the projects are zero'd out again :(
https://backdropcms.org/project/backdrop
https://backdropcms.org/project/webform

[2017-03-14 17:32] jenlampton commented on #360
what the...  it works at 3pm, but not 2am?

[2017-03-14 17:32] serundeputy commented on #360
not all: https://backdropcms.org/project/views_send

I wonder if we are hitting API rate limits?
I will have to investigate further.

[2017-03-14 17:33] jenlampton commented on #360
Maybe we need some better checking for that in our code. If we hit a limit and get a non-integer result back from GitHub we shouldn't overwrite the previous value with zero.

[2017-03-14 17:34] serundeputy commented on #360
agreed; I'll work on that too.

[2017-03-15 21:40] jenlampton commented on #350
Maybe the preprocess function will need to be renamed? Don't know, it could require a whole lot more work than that. That issue remains on the `what needs to be cleaned up` list and we can't push the layout changes until it's restored. Same goes for the user/profile, and I expect there are other layout customizations that will need to be addressed as well.

[2017-03-16 22:26] jenlampton opened #361 "[META] Theme todos arising from layouts redux"
- [x] Maximum length for a 'line of text' (should be ~100 characters / 680px)
- [x] Background colors on modules/themes/layouts pages need to be flipped (gray at the top)
- [x] Custom preprocessing for showcase node kept intact
- [x] Handbook sidebar should resemble user guide sidebar (and be on right)

[2017-03-16 22:27] jenlampton commented on #350
I've started on a list of design regressions that will eventually need to be addressed: https://github.com/backdrop-ops/backdropcms.org/issues/361

[2017-03-17 17:05] jenlampton commented on #350
I pushed a bunch of commits to the branch that fix the showcase node display, and address a few of the other issues in the meta. I'm satisfied with the changes and I think we are go for launch today ~5pm, as long as we can get a smidge more QA to assure nothing else has been overlooked.

Maybe @tomgrandy or @klonos or anyone who has some time today, would you please give http://backdropcms.mikemcc

[2017-03-17 17:43] Graham-72 commented on #350
I have had a quick look through the site on my laptop and I like what I see. Well done!

A couple of things struck me as a bit odd. First, on the Latest News page one sees Todd Tomlimson's book featured alongside the blog about XAMPP, and the blog says "This cookbook ..." One might get the impression that it is referring to Todd's book if one didn't know any better. Perhaps the columns needs subti

[2017-03-17 17:58] jenlampton commented on #350
Thanks @Graham-72!  I think we can fix the log-in page. It's also not supposed to have a sidebar ;)

[2017-03-17 18:42] jenlampton commented on #350
I pushed a max-width fix for the user login, and removing the sidebar from the default layout also solved another issue on https://github.com/backdrop-ops/backdropcms.org/issues/361, so win win! :)

[2017-03-17 18:44] jenlampton commented on #361
I removed the left sidebar from the default layout and added the Book content type into the layout for User Guide, and that solved the style issue for the sidebar menu style. If there is any CSS specific to that block it may still need to be removed. (Noting here for future reference.)

[2017-03-17 20:22] serundeputy commented on #360
@jenlampton
this pr: https://github.com/backdrop-ops/backdropcms.org/pull/362

Checks for valid json before updating download_count

[2017-03-17 23:29] Graham-72 commented on #350
Usability is good on tablet and smartphone.  👍

[2017-03-18 00:28] jenlampton commented on #361
Pushed the latest code live, closing this issue.

[2017-03-18 00:28] #361 closed

[2017-03-18 00:29] jenlampton commented on #350
Thanks @Graham-72 ! Pushed the new layouts code live! Please test on the live site now (for anyone who finds this issue and still wants to help us QA)

[2017-03-18 00:29] #350 closed

[2017-03-18 00:30] jenlampton commented on #350
Special thanks to @mikemccaffrey for getting our layouts organized, fixing the theme to work with them, and getting this project moving again!!!

[2017-03-18 01:03] jenlampton commented on #360
deployed to prod!

[2017-03-18 01:03] #360 closed

[2017-03-18 18:00] laryn commented on #345
@jenlampton I know this issue is closed but just wanted to verify that all the "We support Backdrop CMS" orgs have been combed over -- current view has a few that look quite spammy:

<img width="1185" alt="screen shot 2017-03-18 at 12 57 37 pm" src="https://cloud.githubusercontent.com/assets/871421/24074628/86ca81ae-0bda-11e7-89f5-1d00f9e4a9db.png">

e.g.

- LoanUncle
- ThailandVacation.ru
- dart-

[2017-03-18 21:36] klonos opened #363 "User profiles: Default to none/empty as country (instead of Afganistan)."
![user_profile-defaults_to_afganistan](https://cloud.githubusercontent.com/assets/2423362/24076205/1102d9a8-0c7f-11e7-802b-429d6e62bd6c.png)

[2017-03-19 09:22] klonos opened #364 "Home page: Horizontal scrollbar and blank space at the right of the header."
This is after I have scrolled as far to the right as I could:

![image](https://cloud.githubusercontent.com/assets/2423362/24079691/b4b10586-0ce1-11e7-9766-d112a1192e58.png)

[2017-03-19 09:44] klonos opened #365 "Main menu: Improve menu item descriptions."
I'm quickly fixing these right now as I see fit (as we are live), but lets discuss and change accordingly once we have settled. Here's before/after:

- About: "Backdrop CMS Handbook" -> "Enabling people to build highly customized websites, affordably, through collaboration and open source software. Read more about Backdrop CMS..."
- Modules: no description text -> "Add new features to your Backdro

[2017-03-19 09:54] klonos commented on #364
...seems to be limited only to the home page.

[2017-03-20 04:46] jenlampton commented on #345
I don't see those on here anymore, maybe someone removed them already? It's likely a few slipped through...  thanks for bringing this to our attention :)

[2017-03-20 06:34] mikemccaffrey commented on #364
Over in backdrop/backdrop-issues/issues/2361 the same problem was reported on sites using Basis, so that means that the problem is not at the theme layer, but the underlying layouts in core.

[2017-03-20 09:48] olafgrabienski commented on #345
A few posts above - see https://github.com/backdrop-ops/backdropcms.org/issues/345#issuecomment-277537528 - we discussed to add email notifications to better know if spammy posts get published, or if other ones get changed.

@jenlampton suggested to make a new issue for adding a notify feature or porting a notify module. I just noticed that @graham-72 ported the Notify module: https://github.com/b

[2017-03-20 18:52] jenlampton commented on #345
I don't think the notify module is the right tool for the job - especially since we don't have anyone with the time to actually respond to those emails right now. I think it would be better to use something like mollom or recaptcha that wouldn't involve any human involvement.

[2017-03-20 20:34] olafgrabienski commented on #345
Really? In my opinion Mollom and similar modules are tools to prevent comment and similar spam from anonymous users. I guess that's not the case for Event posts or Support Backdrop statements on the site. Or is it possible to create such content as anonymous users?

[2017-03-20 20:35] jenlampton commented on #345
These modules can prevent spam from all users!

[2017-03-20 20:44] olafgrabienski commented on #345
Okay, I don't know Mollom and others well, so if you think they do the job, fine!

[2017-03-21 01:09] serundeputy commented on #358
@jenlampton this has some todos:
https://github.com/serundeputy/sql-dump-sanitize/issues/1

[2017-03-21 14:22] tomgrandy commented on #365
Excellent work @klonos !  Thanks for cleaning the menu up.

I see you have replaced the somewhat confusing "Handbook" and replaced it with About an About Backdrop CMS on the first page of the About section  However, Handbook rears its head in the sidebar nav.

Anybody opposed to me changing "Handbook" in the About Backdrop CMS side nav to simply "About" to match the top-level nav name?

Or do I ju

[2017-03-21 19:09] jenlampton commented on #349
@Graham-72 is it looking likely that you might have the time to work on a blog post this week or next? If not, we can start creating some other content for the blog and our next newsletter, and you can do a post when it's more convenient for you.

[2017-03-21 21:17] Graham-72 commented on #349
@jenlampton this week is not going to be possible but next week may well be. What deadline do you have in mind?

[2017-03-21 21:18] jenlampton commented on #349
How about by the end of the month? Is that reasonable @Graham-72 ?

[2017-03-21 21:32] Graham-72 commented on #349
Yes, will do.

[2017-03-21 22:02] olafgrabienski commented on #365
In my opinion it's a good idea to change "Handbook" to "About" in the sidebar. If we do so, we need to have also a look at the page "Backdrop CMS Handbook", which is linked in the book navigation and leads to the page https://backdropcms.org/handbook.

[2017-03-21 22:32] olafgrabienski opened #366 "Improve the About section"
If you click on the main menu item https://backdropcms.org/about, you get a page with two nearly identical lists, one in the main content and one in the sidebar:

![screen-backdropcms-about](https://cloud.githubusercontent.com/assets/14188307/24173179/609b5464-0e8b-11e7-9126-ce02504d6571.png)

In my opinion, there should be real content on this important page. We could write a summary. If that's t

[2017-03-22 12:57] tomgrandy commented on #366
I posted a comment about the duplicates in another thread, but I really like your idea @olafgrabienski !  Makes so much more sense to land on the first page than a duplication of the outline of pages.

I vote yes!  (Still trying to figure out if we should just do it or wait for consensus).

[2017-03-22 13:24] tomgrandy commented on #365
I second @olafgrabienski 's recommendation.

[2017-03-22 13:33] tomgrandy commented on #366
Well, I tried but it looks like I have pretty limited permissions to what I can change.

[2017-03-22 13:57] olafgrabienski opened #367 "Account page: Fix position"
When I go to my account page on backdropcms.org, the position of `.l-wrapper-inner` is too high and overlays the navigation:

![screen-backdropcms-account](https://cloud.githubusercontent.com/assets/14188307/24201068/5063aa04-0f0f-11e7-94e6-a9e5d0a39275.png)

In Firebug I can fix the issue by removing `position: relative;` or `top: -250px;` from `body.account-page .l-wrapper-inner`. Don't know if

[2017-03-22 14:06] olafgrabienski commented on #366
Same here, or: a mix of limited permissions and not enough knowledge to handle the Book navigation without making mistakes. I'd prefer to leave the changes to the person(s) who built the book structure.

[2017-03-22 14:08] tomgrandy commented on #367
Saw the same.  Thanks for reporting the issue as well as the fix.

[2017-03-22 18:00] serundeputy commented on #358
@jenlampton I could do a similar thing for `/files`

[2017-03-22 22:10] klonos commented on #365
Done! I've changed the block title to be "About" for that book. This though makes the "Backdrop Dev guide" seem like out of place in this block/book. We could move it to a book of its own. We currently have these books:

- Backdrop Website Style Guide
- Backdrop CMS Handbook
- Backdrop CMS User Guide

We could have these instead:

- Backdrop Website Style Guide
- About Backdrop CMS
- Backdrop CMS

[2017-03-23 00:26] klonos commented on #367
Did someone work on fixing this? It's not currently as depicted in the screenshot by @olafgrabienski above. Here's how it looks when logged out:

![image](https://cloud.githubusercontent.com/assets/2423362/24226602/76586e6e-0fbb-11e7-9449-6c6e13dcf052.png)

...and when logged in:

![image](https://cloud.githubusercontent.com/assets/2423362/24226566/458fe6c2-0fbb-11e7-95f6-232d287fe7cf.png)

[2017-03-23 00:29] klonos commented on #367
...perhaps it's related to whether the banner image has been set or left empty. Either way, it would be better if the local tasks bottom border was aligned with the bottom of the banner.

[2017-03-23 02:35] klonos commented on #356
My only concerns with this @jenlampton are a) that we are limited to only 5 items as key features, and b) how would these work on mobile? Ideas/thoughts:

- We could have a section after the *key* features with the rest of the "simple" features, shown as a responsive grid, just font-icon, feature title and feature blurb - no image. It could also be a separate page.
- The key features could either

[2017-03-23 02:47] klonos commented on #129
Remember this issue? 😄 ...

- I've copied all the current items from the home page list either creating new or updating existing "Product feature" nodes.
- I've added the proper `fa-*` class field to them.
- I've updated the view that generates https://backdropcms.org/features ...it now has the icon class field added to it (hidden from display) and the title field is rewritten to include that as a

[2017-03-23 02:48] klonos commented on #356
https://github.com/backdrop-ops/backdropcms.org/issues/129#issuecomment-288601814

[2017-03-23 02:52] klonos commented on #129
...to bad we don't have #479

[2017-03-23 02:59] klonos commented on #129
Would also be great if we had https://www.drupal.org/project/draggableviews ported (any takers?) so that we could be setting the order of these in an easy way.

I think that we can se that as the home page mostly as is. We can disable the feature titles for linking to the respective nodes until we have actually added more information and images.

[2017-03-23 04:45] klonos commented on #129
So, the idea here basically is that with each release of Backdrop, we can be adding "Product feature" nodes that basically include an icon, a title, and a short description (or "blurb"). We can then improve these by adding screenshots/videos and detailed descriptions. Some of these can be marked as "key features" (checkbox field to be added to the "Product feature" content type) in which case, the

[2017-03-23 10:05] olafgrabienski commented on #365
Thanks, @klonos !

Makes sense in my opinion.

[2017-03-23 10:37] olafgrabienski commented on #367
Oh, wasn't aware of the banner image!

With the banner image the page is better but still not good. Seems also to depend on size of the image. I tried some big images but strangely they don't cover the full width of the screen. (Bug?) I guess we need some instructions about the image dimensions here.

The design should however work with and without banner.

[2017-03-23 10:49] olafgrabienski commented on #367
I saw now, that the banner image gets scaled on the server to a width of 1500px, that's why it looks strange on wider screens. See an example here (screen width 1600px):

![screen-backdropcms-account-banner-screen-1600](https://cloud.githubusercontent.com/assets/14188307/24244322/ab5ccad0-0fbe-11e7-83ab-4b0da2c14023.jpg)

[2017-03-23 12:48] tomgrandy commented on #365
Makes sense to me as well.

As for the Backdrop Website Style Guide, that was created by me as a method for maintaining consistency for editors of the BackdropCMS.org site itself.  Can be unpublished or deleted or I could pull it down and place it somewhere else.  It wasn't intended for visitors of the site itself.

[2017-03-23 20:12] jenlampton commented on #366
Main navigation `About` link now goes to philosophy page.

[2017-03-23 20:52] cellear opened #368 "Create a handbook page that explains Github organization"

[2017-03-23 20:54] klonos opened #369 "Add a menu link and a page with an index of our GitHub "main" project repos."
During today's dev meeting we discussed the idea of adding a "Find us on GitHub" menu item (exact label and position TBD) that leads to an index page (book?) that lists and explains the purpose of

https://github.com/backdrop
https://github.com/backdrop-ops
https://github.com/backdrop-contrib

[2017-03-23 20:58] klonos commented on #369
https://github.com/backdrop-ops/backdropcms.org/issues/368 😄

[2017-03-23 20:58] #369 closed

[2017-03-23 21:07] olafgrabienski commented on #366
Thanks @jenlampton . Can we reopen the issue to discuss two improvements mentioned in the first post which aren't yet discussed?

- Change the URL alias of `philosophy` to `about/philosophy` (and comparable for the other sub pages).
- Check if the URL change provides an `active-trail` class on the "About" menu item, and style it like an active item (2px border-bottom).

[2017-03-23 21:13] klonos commented on #368
...copy-pasting from the other issue:

During today's dev meeting we discussed the idea of adding a "Find us on GitHub" menu item (exact label and position TBD) that leads to an index page (book?) that lists and explains the purpose of

https://github.com/backdrop
https://github.com/backdrop-ops
https://github.com/backdrop-contrib

[2017-03-24 02:18] jenlampton opened #370 "Add search box into header, test & style search results pages"
As part of the new home page design, there is a search box in our header. We don't currently use the site search for anything other than the handbook - if we want this to be a site-wide search we will need to test it's functionality, and theme the results to work as intended. The problem is not quite as simple as dropping the search box into the header.

- [ ] Update search functionality to work o

[2017-03-24 14:46] docwilmot commented on #349
@jordan8037310 this is great but quite formidable. How do we foresee implementation? Is there a place for prioritization? And how do we translate this to the organization of content on the site(s)? Lots more questions.

[2017-03-24 14:57] docwilmot opened #371 "New B.org layouts: Tags get detached from teaser views when logged out"
when logged in:

![dorgtags](https://cloud.githubusercontent.com/assets/1042283/24299757/37349c72-1078-11e7-9bab-08e9c820e6c3.PNG)
when logged out:

![newdorg](https://cloud.githubusercontent.com/assets/1042283/24299770/3e06a4f0-1078-11e7-99ed-8083c596df48.PNG)

[2017-03-24 15:18] docwilmot opened #372 "New B.org layouts: Remove max-width from article.content"
[code]

Not needed if `.container` already has a `max-width`

Before:

![before](https://cloud.githubusercontent.com/assets/1042283/24300632/170d0670-107b-11e7-8b15-5eee668e3250.PNG)

Without max-width:

![after](https://cloud.githubusercontent.com/assets/1042283/24300654/26f353d2-107b-11e7-8178-5ea723ba7768.PNG)

[2017-03-25 02:08] klonos commented on #366
Yeah, I think lets keep this open till these are addressed as well.

[2017-03-25 02:09] klonos commented on #366
...if we change the URL, then we should add a redirect from the old one too.

[2017-03-25 02:11] jenlampton commented on #366
Again...  no URLs have changed.

[2017-03-25 02:14] jenlampton commented on #366
Hm, I had left a comment here yesterday, but seems to have gotten lost!  Sorry about that folks.

* Changing URLs is a bad idea, not only for SEO, but for humans. There is value in knowing that the Philosophy page is at backdropcms.org/philosophy.
* No URLs have changed, instead the link is the text "About", and points to the philosophy page.
* The current link does have an active trail  class (an

[2017-03-25 02:23] klonos commented on #366
I meant the we'll need a redirect from backdropcms.org/philosophy to backdropcms.org/about/philosophy **if** we decide to make the change proposed by @olafgrabienski

[2017-03-25 02:25] jenlampton commented on #366
Right, but we won't :)

[2017-03-25 03:49] clouseau commented on #365
Looking through menu item descriptions, there is one with ellipses, most with periods, and two with no periods or ellipses. Perhaps these should be consistent.

[2017-03-27 08:52] larsdesigns opened #373 "Server Swap Exhausted on www1.backdropcms.org"
The swap partition is full. The size is only 256MB.

My plan:

1. Halt the VM.
2. Resize the swap partition to 2048MB.
3. Boot the server.

[2017-03-27 09:00] larsdesigns commented on #373
Completed the following tasks:

1. Halted the VM.
2. Resized the filesystem partition to make room for a larger swap partition on the disk.
3. Resized the swap partition to 2048MB from 256MB.
4. Booted the VM.
5. Checked to make sure the site is running.
6. The nagios status for the swap check has returned to green.

No further tasks. Closing...

[2017-03-27 09:00] #373 closed

[2017-03-28 15:11] olafgrabienski commented on #366
As the sidebar link has `active` and `active-trail` classes, not changing the URL is perfectly fine.

I'd however suggest to highlight the active sidebar link, using for instance bold text:

![screen-backdropcms-about-sidebar-active](https://cloud.githubusercontent.com/assets/14188307/24412665/62823e84-13d9-11e7-8120-f6ad2825a369.png)

[2017-03-28 15:45] olafgrabienski opened #374 "Make the Developer guide more visible"
The above support request on Gitter was about the important page https://backdropcms.org/upgrade. The page is part of the "Backdrop Developer guide" which is indeed not easy to find: It's only linked in the sidebar of the About page.

I guess, with the "User Guide" in the main menu, one would expect to find also the more advanced docs there. We could do the following for a better visibility:

- Re

[2017-03-28 18:21] larsdesigns commented on #358
Okay, I will begin working on a script for cron to run.

[2017-03-28 18:41] larsdesigns commented on #358
@serundeputy, thanks I will give it a go.

Will drush sql-sanitize work with the Backdrop database? I

[2017-03-28 18:47] larsdesigns commented on #358
Also, I think that @jenlampton wanted to have the dump file available for public download. I am assuming that is without htaccess protection. So we need think a little more about sanitizing. Like, removing data from the cache tables, sessions table. Or perhaps, I am overthinking this.

[2017-03-28 18:49] larsdesigns commented on #358
I wonder if this form could be saving sensitive data to the database also: https://backdropcms.org/contact. We should check up on the forms too.

[2017-03-28 18:49] serundeputy commented on #358
I think we want .htaccess protection @jenlampton ?

but we do need to make determination on what other tables should be sanitized.
I think there is a branch that has `drush sql-sanitize` but it does not cooperate with drupal (i.e. it breaks the drush commands on drupal sites)

[2017-03-28 18:51] serundeputy commented on #358
backdrop `drush sql-sanitize` https://github.com/backdrop-contrib/drush/pull/63

[2017-03-28 18:59] klonos commented on #366
Yes, I think that @jenlampton has no objection with making the current section bold in the sidebar index. The objection is with changing the URL.

[2017-03-28 19:07] jenlampton commented on #358
yes please :)

[2017-03-28 19:08] jenlampton commented on #366
yes, that's a great idea :)

[2017-03-28 19:09] larsdesigns commented on #358
Okay, sounds good to me.

[2017-03-28 23:21] klonos commented on #358
We could have these available in the private directory on b.org so that only authenticated uses can access it. Then we could be linking from the "How to contribute" page (and other pages). So long as the filename remains the same, we could have a "download latest db dump" link.

[2017-03-29 10:38] klonos commented on #374
@olafgrabienski I believe that we should be able to handle this much better (as in have more options) soon as we enable the main navigation to be rendered as drop-down menus. But, yeah, I agree that separating these tasks/topics from the user guide is not ideal. There are tasks that could very well belong to both the user guide and the dev guide. As a matter of fact, if you look at the screenshot

[2017-03-29 10:55] klonos opened #375 "Be consistent with the page title sections across the different pages."
Quickly filing this issue. Screenshots will follow...

- We currently have distinct page title sections (`.l-page-title`) with different background color and "subtitles" for the themes/modules/layouts but in other sections (like the user guide) we do not follow the same pattern.
- The user guide content is narrower than the rest of the site text/content, while its title and primary tabs are wider

[2017-03-29 11:16] olafgrabienski commented on #374
Good catch! Btw, do you know if there is an archived version of the old homepage (design)? Thinking about changes on the new homepage design I asked myself sometimes how the situation was before the relaunch and couldn't remember exactly.

[2017-03-29 11:30] Graham-72 commented on #374
Because we are developers of websites we tend to fall in to the trap of assuming that the first thing our users need to know is how to install Backdrop. Although this is true for many, I have long been an advocate of providing basic instructions telling a user how they can edit or add to content if they have been given responsibilty for looking after a website somebody else has built with Backdrop

[2017-03-29 12:41] olafgrabienski commented on #374
@klonos Re structure for the User Guide: it was already discussed in the issue "User guide topics", cf. for instance https://github.com/backdrop-ops/backdropcms.org/issues/263#issuecomment-253951250 and following. I'm not sure if the current state of the User Guide on https://backdropcms.org/user-guide reflects that discussion and/or if it was changed after the relaunch.

[2017-03-29 12:48] olafgrabienski commented on #374
@Graham-72 You're right, we shouldn't assume that all users share a developer or site builder view. In my opinion it's however not the best approach to start with topics about editing or adding content. That said, they should be immediatly highly visible.

[2017-03-29 13:02] tomgrandy commented on #374
@olafgrabienski - Yes, in #263 I did attempt to create an order that included the developer guide in the documentation / user guide, that included everyone from novice to advanced.  The User Guide went through several other iterations based on comments in other tickets, but never got to the point where developer documentation was included.

So, it is correct on the new site as I had arranged the t

[2017-03-29 14:40] Gormartsen commented on #358
@larsdesigns Also there was a talk about to make SANDBOX b.org websites based on branch, PR and this sanitized dump.
It should be similar to what we have on backdrop/backdrop.

I need this sanitized dump to be available to download when I am going to setup SANDBOX automation.

Please ping me when it's done.

[2017-03-29 20:13] klonos commented on #374
Yes, as I said, once we have drop-down menus in the main nav (so that we can have a single "Documentation" menu item*), we'll then be able to improve the structure of the entire guide.

*So we can add *only* the 2nd level, main topics:

- Documentation
-- Install Backdrop
-- Build your Site
-- Extend
-- Contribute
-- Develop

[2017-03-29 20:23] tomgrandy commented on #374
@klonos - Works for me!

[2017-03-29 20:26] klonos commented on #374
@tomgrandy although I see your point in having the content creation come first, having installation come after that simply does not make sense to me since in order to start using Backdrop you need to first install it. Some installations will be less "manual" (hosts providing "single-click" solutions etc.), so some people might already be handed a ready-to-use vanilla site. These people can always

[2017-03-29 20:36] tomgrandy commented on #374
@klonos - I think it was @Graham-72 who brought having content creation precede the installation instructions a few comments above.  I agree with you that there is an order and Install should be at the beginning and if the user wants to skip it, they can.

[Wordpress Support](https://en.support.wordpress.com/) is similarly structured with installs first.

Agree with keeping layout consistent throu

[2017-03-29 20:57] Graham-72 commented on #374
My point is that it may have been someone else that installed it, as I do for my clients. Though thinking about it, they (my clients) would be scared by a handbook that included all the development guide technical detail, so they need some different form of User Guide.

[2017-03-30 08:15] klonos commented on #365
@clouseau you seem like a man of my kind (I claim to have self-diagnosed OCD) 😄 ...I'll look into fixing these.

[2017-03-30 20:48] tomgrandy opened #376 "Porting Draggable Views Module"
Is anyone in the process or interested in porting Draggable Views over to Backdrop?

I did see in the Draggable Views issue queue that @behindthepage did ask the maintainers in January about this at https://www.drupal.org/node/2845521

Many sites that we have created use Draggable Views and I would be interested in helping to port this over to Backdrop.

[2017-03-30 21:03] behindthepage commented on #376
Hi Tom,
I have it 80% done but got stuck with the ctools plugin code then got really busy.

If you want to create a Github project I will make a PR against it with my progress so far. You will need to check everything I have done.

regards Geoff

[2017-03-30 21:18] tomgrandy commented on #376
Hi Geoff!

Thanks for the quick reply.  Will be happy to give it a shot!  Need DV in order to migrate a bunch of sites we've done from D7 to Backdrop.

https://github.com/tomgrandy/dvport

Tom

[2017-03-30 21:44] behindthepage commented on #376
Yes it is a module that I have often used in the past.
You will need to add the D7 code to your project then I can fork it and PR against it.
Geoff

[2017-03-30 22:51] tomgrandy commented on #376
Try this one:  https://github.com/tomgrandy/git.dvport

[2017-03-30 23:49] behindthepage commented on #376
Hi Tom,

Not Drupal core.

Just the D7 Draggable View module code.
Geoff

[2017-03-30 23:58] jenlampton commented on #376
Next time, can we post these kinds of issues in https://github.com/backdrop-ops/contrib/issues?  That way everyone else who is also curious about the module status can find this issue more easily :)

[2017-03-30 23:58] #376 closed

[2017-03-31 00:03] jenlampton commented on #375
This is by design, as those three types of pages are different.  The information displayed here is different, the way users interact with the page is different, generally we need a bit of a different design here.

The original design had the top part of the page white, and the bottom gray:
![screen shot 2017-03-30 at 4 59 45 pm](https://cloud.githubusercontent.com/assets/397895/24530967/614c2420-1

[2017-03-31 00:11] jenlampton commented on #374
The only distinction between the User Guide and all the stuff on api.backdropcms.org is that there should be no instructions on how to code in the user guide.

I hear the complaint that the API and dev docs are now hard to find...  How about adding a top-level navigation link to the API site? maybe something like "Developer documentation"?

[2017-03-31 01:54] tomgrandy commented on #376
@behindthepage and @jenlampton - Obviously I am doing this wrong.  Was willing to try, but still navigating the waters here.  Perhaps I need to know more about how git works.  My mistake.

[2017-03-31 02:15] tomgrandy commented on #376
Thanks Geoff.

[2017-03-31 02:18] tomgrandy commented on #376
@behindthepage - Created a new thread at https://github.com/backdrop-ops/contrib/issues/209

[2017-03-31 02:22] jenlampton commented on #376
Thanks @behindthepage :)  Also @tomgrandy no need to apologize, we were all new to GitHub once!

[2017-03-31 02:25] behindthepage commented on #376
True dat!

[2017-03-31 02:26] tomgrandy commented on #376
🥇

[2017-03-31 11:31] olafgrabienski commented on #374
Good idea, but has also a few possible drawbacks:

- There are already eight main menu items, one more might feel like 'too many'. (Saying this without having done a usability research.)
- The name "Developer Documentation" is very long and would probably cause design issues on smaller desktop screens or tablets. Maybe call it "Dev Docs" instead?

[2017-03-31 20:01] jenlampton commented on #374
this is temporary. I think the approved menu has only 4?

or we shorten it only on smaller screens?

[2017-03-31 23:56] jordan8037310 commented on #349
@docwilmot Great questions! There are quite a few different methods we could use to prioritize content strategy based on the goal of the organization.

One point to reiterate before I dive into that:

* Priority is determined based on vertical order within each column. For instance, **Who is Backdrop for?** is top most ranked under **Who needs Backdrop CMS?**

To answer your question on how we for

[2017-04-02 00:37] klonos opened #377 "[Docs] Add the "How to Maintain Contrib Modules for Drupal and Backdrop at the Same Time" guide in the dev docs."
@DavidRothstein, I'd like to go through your guide in the https://tag1consulting.com/blog/how-maintain-contrib-modules-drupal-and-backdrop-same-time series and include it in our dev docs. Are you OK with that?

[2017-04-03 04:01] DavidRothstein commented on #377
@klonos Sure, that would be great!  I would be glad to see that live on and get used more widely.  (A link back to Tag1 as the original source would probably be nice if you can, more for their purposes than mine.)

Thanks, and let me know if you have any questions as you do this!

[2017-04-03 10:13] olafgrabienski commented on #374
Do you know which ones will be the four items of the approved menu?

[2017-04-03 14:16] klonos commented on #377
Thank you @DavidRothstein 👍 😄 ...not sure about the backlink. If it was an article or blog post, then sure, but in the documentation it feels like out of place.

@jenlampton ? @quicksketch ? ...does this call for some sorts of credit section on docs or something?

[2017-04-03 16:28] jenlampton commented on #377
I have no problem with including a link back to the original source. In fact, I think this sets a great precedent for anyone to write fantastic docs that we want to adopt! It might even be worth adding a field to our docs pages for "External sources" if we can get this happening often enough.

[2017-04-03 16:31] tomgrandy commented on #377
I second that idea!  Nice to give credit back whenever possible via
attribution to the original source as well as the contributing author.

On Mon, Apr 3, 2017 at 12:28 PM, Jen Lampton <notifications@github.com>
wrote:

[2017-04-04 02:05] klonos commented on #377
+1 to adding those fields now 😄

[2017-04-06 17:06] jenlampton commented on #237
@jwalling I think you might have encountered a bug that has nothing to do with the update procedure or pantheon. If your config file is not proper JSON format that is going to be an issue on any web host, and weather you are updating a site or not.

To answer your question about updating though, here's what I do on pantheon:

1) When Pantheon tells me there is a new upstream ready, I click the but

[2017-04-06 17:18] jenlampton commented on #237
I've added some new tags to this issue queue for people who are working on content. I think this topic would be great for a video or a docs page, so I've tagged it as both :)

[2017-04-06 17:21] jenlampton commented on #213
I think we can close this now, but please reopen if I'm mistaken.

[2017-04-06 17:21] #213 closed

[2017-04-06 17:23] jenlampton commented on #125
Closing this issue since we are sharing manually, on a schedule, instead of automatically. We can reopen later if automatic seems like a better approach in the future.

[2017-04-06 17:23] #125 closed

[2017-04-06 17:25] jenlampton commented on #308
I love this idea. Feel free to draft something if you want @klonos!

[2017-04-06 18:38] jenlampton commented on #374
These ones: https://github.com/backdrop-ops/backdropcms.org/issues/312#issuecomment-269830153

[2017-04-06 18:41] jenlampton commented on #374
We could also call it "Developers" and point to this page: https://backdropcms.org/developers

[2017-04-06 19:38] jenlampton commented on #358
erm...  I think trying to tie sessions to the backups location could get super messuy and difficult to maintain. Let's start simple!

[2017-04-06 21:25] olafgrabienski commented on #374
@jenlampton Thanks for the link! Didn't know of it, was not following the ops queue back then.

With the improved menu it's totally different, we'll have User Guide and Developer Guide as direct neighbours:

So I guess, this issue ("Make the Developer guide more visible") will be solved with the new menu. When will it be implemented?

[2017-04-06 21:30] jenlampton commented on #374
Soon, I hope!  I was thinking about working on it today, but now that @wesruv is back on the scene I want to give him a chance to look it over, since he's already themed the drop-down navigation, it will likely be faster for him.

That said, we could add the link now and remove it once the new menu goes in.

[2017-04-06 21:33] olafgrabienski commented on #374
Yes, I agree!

[2017-04-06 21:35] jenlampton commented on #374
done :)

[2017-04-06 21:36] jenlampton commented on #372
No, the max-width on content is to prevent a single line of text from exceeding ~60 characters, which is hard on people's eyes (and brains). This is a usability improvement.

[2017-04-06 21:36] #372 closed

[2017-04-06 21:38] jenlampton commented on #371
weird!  yes, we should fix this :)

[2017-04-06 21:40] jenlampton commented on #237
@tomgrandy I assigned this to you :)  Would you be willing to add this as a section to the https://backdropcms.org/upgrade page?

[2017-04-06 21:48] olafgrabienski commented on #374
:-) ... but now:

With the added item, the menu doesn't have enough space on all screens. When the screen is between 768px and about 990px the menu is displayed in two lines.

[2017-04-06 21:53] jenlampton commented on #374
I think that's okay, temporarily. It doesn't look broken. Do you think this is better or worse than not having the link?

[2017-04-06 22:00] olafgrabienski commented on #374
Undetermined. We could even finetune the CSS to fix the mentioned screen size but as you say: it's temporary, and it's okay.

[2017-04-06 22:45] jenlampton commented on #367
I just pushed a fix for the header image, removing it as a block and adding it back as a background image.

[2017-04-06 22:45] #367 closed

[2017-04-06 22:53] tomgrandy commented on #237
@jenlampton - Sure!  No problem.

[2017-04-07 15:02] olafgrabienski commented on #367
Looks good now, thanks!

[2017-04-07 16:40] jenlampton commented on #371
Thanks for pointing this out @docwilmot !  I just pushed a fix to the live site.

[2017-04-07 16:41] jenlampton commented on #371
hm, I don't see the changes there yet, but I expect we need to wait for the cache to clear out.

[2017-04-07 16:41] #371 closed

[2017-04-07 17:13] jenlampton commented on #364
There was some screwy stuff in our theme left over from the previous layouts which I've fixed (mostly). I think this is close enough until we get the new home page design implemented. At least it doesn't look quite so broken anymore :)

[2017-04-07 17:13] #364 closed

[2017-04-07 17:17] jenlampton opened #378 "Content vs title width"
From @klonos in https://github.com/backdrop-ops/backdropcms.org/issues/375

[2017-04-07 17:19] jenlampton commented on #378
I've adjusted the centering of the content in the left column so that the header doesn't look so wonky: ![screen shot 2017-04-07 at 10 18 07 am](https://cloud.githubusercontent.com/assets/397895/24811635/a3c1d478-1b7b-11e7-8a37-f253a5fed435.png)

Long chunks of  text on all pages should be limited to 700px for easy reading, so if there are pages where this is not the case, we should fix it.

[2017-04-07 17:19] #378 closed

[2017-04-07 17:21] jenlampton opened #379 "Too much whitespace above page title?"
From @klonos in https://github.com/backdrop-ops/backdropcms.org/issues/375

[2017-04-07 17:24] jenlampton commented on #379
Here's our design for the top of the page:
![screen shot 2017-04-07 at 10 21 35 am](https://cloud.githubusercontent.com/assets/397895/24811720/0eab44cc-1b7c-11e7-8f07-d792e630811e.png)

Here's a book page from the site:
![screen shot 2017-04-07 at 10 21 35 am](https://cloud.githubusercontent.com/assets/397895/24811773/4f21134c-1b7c-11e7-8525-c4cfe2c03cfd.png)

[2017-04-07 17:39] jenlampton commented on #375
I think I have addressed all these issues, closing. (Please open new issues if necessary!)

[2017-04-07 17:39] #375 closed

[2017-04-09 00:59] klonos commented on #371
Seems fixed when visiting https://backdropcms.org/news and while logged out. Thanx @jenlampton 👍

[2017-04-09 01:46] klonos commented on #379
Here's what we currently have (makes me feel like I'm on a different site when switching from section to section):

![borg-modules_vs_user_guide-current_situation](https://cloud.githubusercontent.com/assets/2423362/24833909/390e5386-1d1a-11e7-8cc3-da73ae187284.gif)

[2017-04-09 01:47] klonos commented on #379
Here's how it could look like instead:

![borg-modules_vs_user_guide-proposed_changes](https://cloud.githubusercontent.com/assets/2423362/24833915/5052420a-1d1a-11e7-9674-35e5a57ebb10.gif)

[2017-04-09 01:48] klonos commented on #379
...so basically, here's a before/after of the user guide pages:

![borg-user_guide-current_vs_proposed](https://cloud.githubusercontent.com/assets/2423362/24833921/6d284d34-1d1a-11e7-83d6-b354df73afc2.gif)

[2017-04-09 01:48] klonos commented on #379
PS: sorry for all the "blinking" 😄

[2017-04-09 03:53] jenlampton commented on #379
Hm, I really dislike having a hero on every page. I think it makes sense on the home page and on landing pages, but on every page it just seems overdone. I'd prefer that we remove the hero styles on modules/themes/layout pages over adding it everywhere. When it's everywhere it loses it's emphasis.

[2017-04-09 03:54] jenlampton commented on #379
Also, can we move these comments into an issue about the hero? It's not really relevant to how much padding is on the H1 tag ;)

[2017-04-09 03:55] jenlampton opened #380 "Rework modules/themes/layouts page headers / heros"
From @klonos  on https://github.com/backdrop-ops/backdropcms.org/issues/379#issuecomment-292757999

![borg-modules_vs_user_guide-current_situation](https://cloud.githubusercontent.com/assets/2423362/24833909/390e5386-1d1a-11e7-8cc3-da73ae187284.gif)

[2017-04-09 03:56] jenlampton commented on #380
Hm, I really dislike having a hero on every page. I think it makes sense on the home page and on landing pages, but on every page it just seems overdone. I'd prefer that we remove the hero styles on modules/themes/layout pages over adding it everywhere. When it's everywhere it loses it's emphasis.

[2017-04-09 03:57] jenlampton commented on #379
Closing this issue :)

[2017-04-09 03:57] #379 closed

[2017-04-09 04:03] jenlampton commented on #380
Posting our "official" design for these pages:
![screen shot 2017-04-08 at 9 02 30 pm](https://cloud.githubusercontent.com/assets/397895/24834578/c7ad5eba-1c9e-11e7-9b51-fa0a05bf548a.png)

[2017-04-13 23:28] docwilmot opened #381 "Create a system to automate repetitive aspects of porting modules to Backdrop from Drupal"
Based on Gitter discussion, use a script, such as designed by @deekayen here: https://gist.github.com/deekayen/14d48f1fadec49039a79
This script does the basic stuff in conversion: change "core = 7.x" to "backdrop = 1.x" in .info files, add a `README` and a licence file, change `variable_get`s etc etc. This could be used as the basis for the following

Two options were suggested:
V1
- Build a sandb

[2017-04-14 02:52] deekayen commented on #381
I still feel the need to be abundantly clear that the sed args on Mac work differently from sed in Ubuntu. My gist is for Mac. I've not been able to locate my Ubuntu port.On Apr 13, 2017 7:28 PM, docwilmot <notifications@github.com> wrote:Based on Gitter discussion, use a script, such as designed by @deekayen here: https://gist.github.com/deekayen/14d48f1fadec49039a79
This script does the basic st

[2017-04-14 07:11] klonos commented on #316
@JugglingCoder do you have a user account on backdropcms.org? Can you please create one and then create a showcase for www.JapanTravelPackages.com ?

https://backdropcms.org/user/register
https://backdropcms.org/node/add/showcase

[2017-04-14 07:27] klonos commented on #316
...I will work on getting the Showcase view we already have into a better shape soon as I get some time.

[2017-04-14 07:56] klonos commented on #316
...for reference, here's what the respective page looks like in d.org:

![image](https://cloud.githubusercontent.com/assets/2423362/25036535/c08918de-2137-11e7-9dbf-11fc964e7ef8.png)

[2017-04-14 08:16] klonos commented on #316
Played a bit with the view: https://backdropcms.org/showcase

...no styling done yet.

[2017-04-14 08:43] klonos commented on #381
@Gormartsen ...another one for your to-do list. As discussed on Gitter: no stress 😄

[2017-04-14 13:21] serundeputy opened #382 "Office Hours page on backdropcms.org."
@jenlampton can we create an office hours page or section on BackdropCMS.org?

Perhaps here: https://backdropcms.org/contribute

----
hours:
  * @serundeputy available office hours in gitter.im Wednesday 4pm - 5pm EST
  * @jenlampton wants to devote Thursdays 2:30pm-6pm PT!

Per weekly meeting: https://docs.google.com/document/d/18oJV3pZyutVO4a8-Rwbd_ftM1PqTr8AtTAxg2mgUNeE/edit#

I'll tweet out th

[2017-04-14 15:52] JugglingCoder commented on #316
I added my JapanTravelPackages.com site to backdropcms.org, thank you klonos.  If your interested in the "look" above "here's what the respective page looks like in d.org"  I use "masonry" (http://masonry.desandro.com/) and imagesloaded (http://imagesloaded.desandro.com/) on my Social Site I built in D7 for photos pages (example: http://www.cloudbrat.com/user/photos/coloradojones) and it works wel

[2017-04-15 00:32] klonos commented on #316
Thank you @JugglingCoder 👍 ...I have published the showcase after making some minor edits:

- Changed the "We are a Japan Specialist Travel Company..." in the blurb to "JapanTravelPackages.com is a Japan Specialist Travel Company...". Makes it look more like writing a blog presenting the site rather than posting an ad.
- Changed the "which is a branch of Drupal 7" to "which is based in the code of

[2017-04-15 00:37] klonos commented on #316
...keep the Backdrop-based websites coming in 😄

[2017-04-15 02:17] klonos commented on #382
I would expect it to be living under a "Support" page.

[2017-04-15 07:10] klonos opened #383 "Notifications to site moderators on new website showcases and supporter nodes created."
The default for these two content types is set to unpublished with permissions set so that any authenticated user (people that have created a b.org account and are logged in) can create content of these types. This is to prevent spammy nodes from being published, but we currently do not have any way to be notified of any new such content added so that we can review and publish it.

As discussed on

[2017-04-15 10:38] larsdesigns commented on #358
Sadly, I haven't had time to work on the code for this. @serundeputy your help in improving the script you mentioned above would be awesome. I can make time for testing and implementation this week.

[2017-04-15 18:57] JugglingCoder commented on #316
The changes you made are no problem.  I actually have another site in Backdrop... http://www.2ptalk.com  (and sister in site in Japanese http://www.chat2shot.com ) but probably don't want it in showcase. 1.) its a "chat" site (half normal chat but half adult oriented chat) and 2.) nobody uses it yet! :)  You should try it once just for fun:)  Use two different browsers and you can chat with yourse

[2017-04-15 19:05] JugglingCoder commented on #316
PS which field -> image is used for the "view" ( https://backdropcms.org/showcase )?  Is that the "Hero Photo"? Doesn't seem to be an image for the site in the view.

[2017-04-15 21:47] klonos commented on #316
@JugglingCoder yes, it's the hero image. You can use a screengrab of the top section of the site on desktop.

[2017-04-16 12:47] serundeputy commented on #358
@larsdesigns I've updated the backup script.  Full details in README.md here: https://github.com/serundeputy/sql-dump-sanitize

hightlights:
* `NUM_KEEP` number of backups to keep before starting to rollover stale copies.
* `--sanitize` option
* `--quiet` option good for running on cron
* `--rollover` run with rollover operation on

I think we should set two cron jobs; one for sanitized backups to

[2017-04-16 13:49] serundeputy commented on #358
FWIW I've installed it on my server and all is well.

- [x] Automated backups on cron
- [x] Automated sanitized backups on cron
- [x] Verified validity of regular backup and sanitized backup (i.e. I can restore and use both types)

[2017-04-17 21:06] larsdesigns commented on #358
@serundeputy Awesome, thank you so much. I will install it this evening.

[2017-04-17 21:40] serundeputy commented on #358
@larsdesigns backup current DB first just in case ;)

[2017-04-19 08:57] larsdesigns commented on #358
Completed the following tasks:

1. Manually backed up the backdropcms database.
2. Installed the backup script provided by @serundeputy : https://github.com/serundeputy/sql-dump-sanitize
3. Created crontab job using template.
4. Created config.ini file and completed the configuration.
5. Tested the script and found that the database user that I have does not have permission to create and drop the

[2017-04-19 20:19] jenlampton commented on #358
I don't think I have root mysql user info, we'll need to ask @quicksketch

[2017-04-20 18:42] laryn commented on #130
I am going to try to make one or two of these and see how they go. If anyone is willing to jot some of the key points they see in various categories so important things don't get left out, feel free to edit here:

https://docs.google.com/document/d/1RCq8QIOEOaegCJkmY5yLlJmIaIfvUdu3cd1wnKjo4Og/edit?usp=sharing

[2017-04-20 18:53] jenlampton commented on #130
That would be fantastic! :)

[2017-04-21 00:44] quicksketch commented on #358
@larsdesigns I'll try to reach out to you via Gitter.

[2017-04-23 22:38] klonos opened #384 "Theme the "Project usage overview" page and link to it from somewhere prominent so that people can find it."
https://backdropcms.org/project/usage/

- Center the content horizontally within the page (currently left-aligned).
- Keep only the first, most recent column of stats on mobile and hide the older ones (set the `<tr>` class to `priority-low`).

[2017-04-23 23:20] klonos opened #385 "Theme the download stats section on the sidebar of project pages."
For example https://backdropcms.org/project/libraries

![image](https://cloud.githubusercontent.com/assets/2423362/25318160/6935f7d6-28cc-11e7-9368-49763ee146f9.png)

- Add an `<h3>` header similar to the "GitHub" header below it. Something like "Usage" or "Statistics".
- Have counts and labels be inline and...
    - either have the first letter of the label be lowercase if it comes after the coun

[2017-04-24 00:06] klonos opened #386 "Theme the /node/%/releases project pages ("Project releases by project" view)."
Example for Libraries project: https://backdropcms.org/node/163/releases

![image](https://cloud.githubusercontent.com/assets/2423362/25318336/9befb7c2-28cf-11e7-833f-c32c4b973a36.png)

- We shouldn't be repeating the project name
- We need the version number (what is currently the text of the download link) to be a link to the respective project version node on b.org
- The "Download" header could

[2017-04-24 00:54] klonos commented on #386
Alrighty, I've changed the view:

- Output fields instead of content.
- Fields:
    - "Project release: Is security update": custom output as `security-update` when TRUE; nothing when FALSE; excluded from display; used as as row class (format -> settings -> row class).
    - "Project release: Version": no label; excluded from display; used as the link text for the "Content: Link" field.
    - "Con

[2017-04-24 01:01] klonos commented on #386
...I've added the post date and rewritten it as "Release date" (it's easier to remove fields than to add and configure them) and while doing that noticed that we have an "Project release: Update status" field available. I've added that and included it to the classes that each row gets.

[2017-04-24 02:35] klonos opened #387 "Project releases paths not generated according to pathauto settings."
Not sure if this is a core bug or something wrong with the project.module, but...

In https://backdropcms.org/admin/structure/types/manage/project_release we have it set as `project/[node:project_name]/releases/[node:title]`

![image](https://cloud.githubusercontent.com/assets/2423362/25320405/1e1fc7b8-28ea-11e7-85ec-f4b439f9a005.png)

...but the actual releases get paths in the form of `project/r

[2017-04-24 02:47] klonos commented on #387
...makes me wonder if the `[node:project_name]` works or not.

[2017-04-24 10:00] klonos opened #388 "Switch the qa.b.org server to https."
It used to be so simple to just click on the username field and have the previously-typed "admin" entry be remembered. For some time now, in latest versions of some browsers (latest firefox nightly builds namely), you get this warning and no auto-completion:

![image](https://cloud.githubusercontent.com/assets/2423362/25332089/afea040e-2928-11e7-8332-87cc2abbe2db.png)

[2017-04-26 19:13] tomgrandy commented on #356
Created bulleted items for top five features and added screenshots for Wes to add to homepage rotator.  Believe this is finished.

[2017-04-26 19:13] #356 closed

[2017-05-04 18:40] jenlampton opened #389 "Remove all the underscores from class names in our theme(s)"
I noticed that the project listing pages have a different pattern for CSS class names than the rest of the site/theme. We should remove these funny classes so that anyone can pick up a theme-dev task for backdropcms.org and not need to understand anything specific to our site to make improvements.

[2017-05-04 19:01] jenlampton commented on #386
It's a start: https://backdropcms.org/node/449/releases

[2017-05-04 23:46] jenlampton opened #390 "Labelling of weekly meetings."
Issue copied from https://github.com/backdrop-ops/api.backdropcms.org/issues/41 for @Graham-72

It is very useful to have the most recent weekly meeting appear in a block on the news page, labelled with its date .

Unfortunately in Firefox the meeting date is obscured from the label, whereas it shows in Chrome.
Firefox:
![news announcements backdrop cms](https://cloud.githubusercontent.com/assets/

[2017-05-06 11:43] klonos commented on #386
Yes, it is 😄 Thanx @jenlampton 👍

[2017-05-06 11:46] klonos commented on #386
I'm thinking that the way it is now, perhaps it makes better sense to have this page render as a table. This way we won't have the "version" and "Release date" text repeated in every row (they can be table headers instead).

[2017-05-06 11:47] klonos commented on #386
...and the download button moved to the end (last column if we do make this a table).

[2017-05-06 15:37] jenlampton commented on #386
Maybe we should kick this back to design before we spend any more time on
development ;)

On May 6, 2017 4:47 AM, "Gregory Netsas" <notifications@github.com> wrote:

[2017-05-06 17:36] Dinornis commented on #386
@klonos you may want to redact the bottom of your first screenshot.

[2017-05-06 21:59] klonos commented on #386
@Dinornis 👍  ...I'm usually very cautious with these sorts of things, but that was my email from the old domain I was using in Greece. My server has been pretty good in filtering spam so far. Thank you nevertheless. Fixed 😉

Yes. Good enough for now I guess ...perhaps add some spacing between the fields so that they are not crumbed up (looks unprofessional) and leave it like that till we have a de

[2017-05-06 22:50] daggerhart commented on #386
Attempt at a stop-gap design to that can be worked towards until there is an official one.

![backdropcms.org releases page design](https://cloud.githubusercontent.com/assets/1205329/25776462/bafbe14c-328c-11e7-9b07-74a9fb048e41.png)

[2017-05-06 22:53] klonos opened #391 "Fix the "Wear" section"
https://backdropcms.org/contribute#wear

![image](https://cloud.githubusercontent.com/assets/2423362/25776471/41cb1538-3302-11e7-9664-a079cdc35a66.png)

...as you can see, the dragon hoodie image is to the far left while the respective "donate" button is on the other end.

[2017-05-06 22:55] klonos commented on #391
...as the page gets narrow, it gets even more garbled:

![image](https://cloud.githubusercontent.com/assets/2423362/25776495/de031298-3302-11e7-9213-5cbe57fa0109.png)

[2017-05-06 22:59] klonos commented on #391
...seems that both images and donation widgets get a `donate-right` class. Perhaps some of them should be `donate-left`??

![image](https://cloud.githubusercontent.com/assets/2423362/25776513/778d53e2-3303-11e7-9087-6c3bdc9744ed.png)

[2017-05-06 23:04] klonos commented on #391
...not fixed, but at least less broken:

![image](https://cloud.githubusercontent.com/assets/2423362/25776531/20e340d2-3304-11e7-897d-a8570fb5e564.png)

pinging @jenlampton

[2017-05-06 23:06] jenlampton commented on #386
@daggerhart I like it!  Can we make this the official one? :)

[2017-05-06 23:41] jenlampton commented on #391
No, there is no `donate-left` class. The donate stuff was only ever on the right.

[2017-05-06 23:44] jenlampton commented on #391
Hm, I wonder if we can use our new bootstrap classes here!  Let me give that a go...

[2017-05-07 00:19] jenlampton commented on #391
tah dah https://backdropcms.org/contribute

[2017-05-07 00:21] jenlampton commented on #391
desktop large:
<img width="730" alt="desktop" src="https://cloud.githubusercontent.com/assets/397895/25776889/565a7d90-3280-11e7-80bf-497c498afe24.png">
desktop medium:
<img width="561" alt="screen shot 2017-05-06 at 5 19 51 pm" src="https://cloud.githubusercontent.com/assets/397895/25776891/5b32492e-3280-11e7-8a8d-7d2dc708cb58.png">
tablet:
<img width="591" alt="screen shot 2017-05-06 at 5 20 10

[2017-05-07 09:02] klonos commented on #386
Yes, 'tsgoooood 👍  Perhaps omit the "Version" label since it will be repeating itself in a long list of releases. But I'm not fussed 😄

[2017-05-10 19:01] jenlampton commented on #354
We just got an email today with another tool that we should include on this page:

[2017-05-11 08:40] olafgrabienski commented on #354
Shouldn't we have a look at the tool before we include it on the page? Unfortunately, I'm not on Windows, so I can't try it out.

[2017-05-11 20:12] klonos opened #392 "Add a "Backdrop on the web" section."
...with links to articles about Backdrop in other 3rd party sites and/or in other languages.

[2017-05-11 20:33] jenlampton commented on #354
yes of course, I'm assuming we have a look, test, and it works as described :)

[2017-05-11 20:53] olafgrabienski commented on #392
Beginning to collect links to respective articles. Feel free to add more!

---

**Articles in English**

- Jonathan Daggerhart: [Backdrop CMS](http://www.daggerhart.com/backdrop-cms)

---

**Articles in other languages**

German

- Olaf Grabienski: [Do the right thing. Mein erster Commit für Backdrop CMS](https://www.olafski.de/2016-10-04/do-the-right-thing-backdrop-cms)

[2017-05-11 21:04] jenlampton commented on #392
@klonos we could do this now. Do you want to set up a content type (maybe called, "External link" or "External article" or something?  Fields would be title + URL. Then we can make a block view and throw it on the news page :)

[2017-05-14 00:19] klonos commented on #392
...on to it 😉

[2017-05-14 01:33] klonos commented on #392
I have created a "External mention" content type with the following fields (besides the stock title that is):

"Link to mention" -> required link field where the link to the article/video/podcast/tweet/what-have-you is entered
"Link to author" -> required link field where the name of the author and a link to their personal site or d.org or b.org or GitHub profile is entered. Only a name/nickname c

[2017-05-14 04:04] jenlampton commented on #392
Nice work @klonos!!

How far back should we go with articles?  Here are a few others we may want to include:
* https://tag1consulting.com/blog/how-maintain-contrib-modules-drupal-and-backdrop-same-time
* https://tag1consulting.com/blog/how-maintain-contrib-modules-drupal-and-backdrop-same-time-part-2
* https://tag1consulting.com/blog/how-maintain-contrib-modules-drupal-and-backdrop-same-time-part-

[2017-05-14 08:40] klonos commented on #392
I'll try to find some time within the week to get these added. I don't think we should be struggling to get *every* single article out there in the list. I'm sure that as we come across more, this list will get larger 😄

Will work on that soon as I can.

[2017-05-14 11:24] larsdesigns commented on #358
Completed the following tasks:

1. Finished setting up the temp database with user permissions.
2. Configured the sub domain in nginx.
3. Configured password protection for the directory.
4. Creating a download page with download links and cool dragon graphic.
5. Tested the generation of the database dump.
6. Tested the download of the dump file.
6. Enabled cron job that generates the sanitized du

[2017-05-14 11:26] larsdesigns commented on #358
@jenlampton Yikes, I do not have access to DNS. I thought it was in the Linode account. Can you create the A record?

[2017-05-14 11:28] larsdesigns commented on #358
Also, we should probably compress the database dumps for download.

[2017-05-14 13:08] serundeputy commented on #358
@larsdesigns I've added `gz` compression to the script and cut a tag `1.0.0` so you can either pull down the latest master or checkout the tagged release.

[2017-05-14 22:36] serundeputy commented on #358
@larsdesigns I've added files directory compressed backups with rollovers functionality.  To make use of it pull down the latest `master` and add cron job to the server;

[code]

That is just an example time; I'd recommend staggering it from the DB backup.

[2017-05-15 05:36] larsdesigns commented on #358
1. Updated the code from @serundeputy and the archives are being compressed with Gzip.
2. Created cron job for the files archives.
3. Created download file archive links on the downloads page index.php.
4. Created a new HT password and tested in multiple browsers.

Everything is working as expected. We only need to the DNS record for sanitize.backdropcms.org to finish up. Also, @jenlampton and @qu

[2017-05-15 08:35] olafgrabienski commented on #392
@klonos Thanks for creating the "Backdrop on the web" page. In my opinion, the language list is quite overwhelming for visitors. Is it possible to reduce the list to the languages actually used in the web articles?

[2017-05-15 20:08] jenlampton commented on #392
I'm not sure the language is necessary as an exposed filter. Maybe we just list it next-to or below the article title.

[2017-05-16 00:08] LeeteqXV opened #393 "Please include "section"/"type" in the page title pattern that is used when bookmarking"
Would it be possible to include "module", "theme", "layout", etc. in the pattern that is being suggested when bookmarking "something interesting" from Backdrop.org?

I love saving time, and having good bookmark names is one such aspect. I would like to be able to surf quickly and bookmark just as quickly without having to manually edit each one each time all over the site...

When we now bookmark

[2017-05-16 14:24] klonos commented on #392
If you think non-English audience, it is. Once this list gets more entries, it will be hard for people to find articles in their language if they are not English speakers. I expect that list to have more than 90% of articles in English, so non-English articles will be like searching for a needle in a haystack without a language filter.

[2017-05-16 14:27] klonos commented on #392
@olafgrabienski that list is pulled from the values that are available when adding an article mention. I could reduce that list to only the most "popular" languages, but that would then seem "discriminating" to anyone that doesn't find their language available in the list.

[2017-05-16 14:33] klonos commented on #392
...in d.org there's https://www.drupal.org/project/views_selective_filters

If we had that ported, then we could use it to limit the options in that drop down only in the view. Once an article mention would be added for a non-available language, then that language would automagically become available as an option.

[2017-05-16 17:24] jenlampton commented on #392
Once we have the list up for a while people will only care about the content that's new, so that would be maybe ~5 items or so at the top of the list. By printing the language the article is written in, people will know if they can read the article as it is, or if they will need to use google translate (or similar). Either way, they have information they need to decide if they want to read the art

[2017-05-17 08:59] olafgrabienski commented on #392
@klonos Yes, Views Selective Filters would be a good approach, maybe in combination with a filter reset button. I agree however with @jenlampton that a language filter isn't important at the moment. That certainly may change having much more articles in other languages than English some day, and we can resume the work then.

[2017-05-17 09:51] klonos commented on #392
Fair enough @jenlampton. I will return to work on that after I finish with testing https://github.com/backdrop/backdrop-issues/issues/2541

[2017-05-18 19:44] jenlampton commented on #165
We have some fantastic community members I'd love to spotlight.  I would love it if we could get a volunteer to write up little highlights, maybe once a month or so, on one person or another, and give them a little more credit for all the awesome things that are happening. I'm going to add a short-list of people I'd love to see thanked to the top issue here. Anyone with interviewing/writing skills

[2017-05-18 20:57] jenlampton commented on #393
good idea!

[2017-05-18 20:58] jenlampton commented on #391
I think this is fixed, closing :)

[2017-05-19 10:26] klonos commented on #391
Not 100%:

![image](https://cloud.githubusercontent.com/assets/2423362/26243730/3abbda8e-3cd0-11e7-81d6-183f900a51f4.png)

- Notice how the 2 first "Buy Now" buttons are small while the 3rd is large? Easy to fix, but don't know whether we want to keep the small or the large for all 3 items.
- Notice how the description, size drop-down menu and "Buy Now" button are not aligned? Should be centered I

[2017-05-23 14:02] tomgrandy commented on #165
@klonos - Would you like to be the first to be interviewed for the Community Spotlight?

Would like to get a photo of you doing something other than sitting at a desk. Possibly a location to show what country you are from or working in (your choice).  Background of something recognizable to many would be cool.  That or doing something you enjoy.  Makes us seem more human when we are not doing head

[2017-05-24 09:39] klonos commented on #165
Hmm, that'll be hard. a) I don't take many photos of myself b) I'm mostly always sitting at a desk 😄 ...lets see if my wife has any good on her phone from when they visited a couple of months ago.

Err, that'd be contributing to Backdrop ...and once again involves me sitting at a desk, in front of a computer 😄

[2017-05-24 09:41] klonos commented on #165
...I'll see if I can get my brother to take a photo of me near a landmark in Melbourne. I'll get back to you @tomgrandy

[2017-05-26 13:58] tomgrandy commented on #237
@jenlampton - Not that familiar with Pantheon.  Did you want me to repurpose the step-by-step you outlined above in the https://backdropcms.org/upgrade page or is there more to the process?  I can easily use your instructions with screenshots, but if this requires a better understanding, then I'm not much help here.

[2017-05-26 20:19] jenlampton commented on #237
You might be the perfect test subject :)

Yep, that's all. You may have a hard time getting screenshots since you'll need an out-of-date pantheon site. But if you set up a site nowish, and then wait until the 31st, you'll have one! :)

[2017-05-27 03:03] klonos commented on #392
OK...

- language exposed filter removed
- added all linked articles that @jenlampton has posted above
- added a block on the right sidebar in https://backdropcms.org/news showing the latest 5 mentions with a link to view more

The block needs styling. @jenlampton ??

[2017-05-27 03:05] klonos commented on #392
...oh, I forgot to mention that I've converted the "Author" link field to accept multiple values to cover the case of multiple authors.

[2017-05-27 03:09] klonos commented on #392
Ideas/todos:

- Fix the block style
- Rewrite the language field so that it doesn't output anything when the language is English (the default)
- Google "Backdrop CMS" and add any articles in the first 2-3 pages of results that are missing from our list.
- ???

[2017-05-27 14:51] olafgrabienski commented on #392
Great! One idea regarding the styling: build the block for the *News* page as a list (not as a table).

[2017-05-27 15:20] docwilmot commented on #392
Personally I think the main list would look nicer as an unformatted list than as a table. The author names could instead link to a list of articles buy that author, to account for authors without a Backdrop profile.

[2017-05-27 22:03] jenlampton commented on #392
I did the following today:
* Fix the block style - as a list (not as a table) ✅
* Allow (registered) users to create "external mention" content. Perhaps have them be unpublished by default and moderate? ✅
* Make mention page into a list, too ✅
* Sort by mention date (not post date)✅
* Change the URL to news/on-the-web (and add a redirect) ✅
* Allow (registered) users to create "external mention" c

[2017-05-27 22:09] jenlampton commented on #391
Now all 3 are small.

All are aligned left.

[2017-05-27 22:46] jenlampton commented on #358
I don't have DNS access either, only @quicksketch holds the keys.

[2017-05-29 19:22] klonos commented on #392
Definitely 👍. Was only trying to get this started.

The authors are a multi-value link field with the URL part being optional. So, it can be just plain text or external links to their personal websites 😉

There's only 2 things I would change:
1. I was trying to have the language shown only if it is different from the default English which is implied. I guess that this would be possible only if the

[2017-05-29 19:37] klonos commented on #391
Looks good 👍 ...tiny nit about the elements that would perhaps look better center-aligned, but I guess that's a matter of preference. Closing 😄

[2017-05-29 19:37] #391 closed

[2017-05-29 19:46] klonos commented on #305
This is done. Any remaining tasks?

[2017-05-30 04:38] jenlampton commented on #305
Yes, we need to add a drop-down menu and style it accordingly.

[2017-05-30 04:42] jenlampton commented on #391
yeah, but only on desktop. Seemed not worth it since we are about to get a new theme anyway :)

[2017-05-30 16:08] larsdesigns commented on #358
@jenlampton would you like to implement without DNS? Maybe we can use a URL such as api.backdropcms.org/archive-download or something similar?

[2017-05-30 17:23] jenlampton commented on #358
No, I think it would be better if we can get @quicksketch to update the DNS.

[2017-05-30 18:57] quicksketch commented on #358
A and AAAA records are now set up:

![image](https://cloud.githubusercontent.com/assets/100206/26599932/1a937f98-452f-11e7-8ed1-bea13ea5029c.png)

[2017-05-30 19:00] serundeputy commented on #358
DNS is working 👍 ;
Cron jobs are not :(

[code]

@larsdesigns can you look at the code and see what is being set for `date_default_timezone_set`?

[2017-05-31 09:05] larsdesigns commented on #358
Parts of index.php file I created for the download links was missing. I added the parts back in and create a github project for it as backup. Definitely overkill, but whatever...

[2017-05-31 09:18] larsdesigns commented on #358
https://github.com/larsdesigns/backdropcms-sanitize-download

[2017-05-31 20:54] klonos commented on #358
How does one get access to the dump and files? b.org credentials?

[2017-05-31 20:55] serundeputy commented on #358
Ask @jenlampton for them :)

[2017-06-01 19:19] wesruv opened #394 "Create Add Ons Page"
Per our design/navigation update we want to add an Add Ons menu item, and page to go along with it.

So we need some content for that page that summarizes what Add Ons are and links to Modules, Themes and Layouts. If needed we can brainstorm on content and design together if that'd be helpful in coming up with content/ideas.

cc: @tomgrandy

[2017-06-02 18:26] tomgrandy commented on #394
Can do.  Leaving for a race down near you today and will work on this on my return.

[2017-06-02 19:49] klonos commented on #394
Hey @wesruv! FYI, @tomgrandy has already created https://backdropcms.org/user-guide/add-ons-modules-themes-and-layouts for our documentation.

[2017-06-02 19:49] klonos commented on #394
@tomgrandy you are crazy!! 😄

[2017-06-04 00:54] jenlampton commented on #358
@klonos do you need a backup?  the un is sanitize, and I've emailed you the password :)

[2017-06-06 12:57] klonos commented on #358
Just in case I wanted to help with fixing b.org issues. Not as responsive lately as I used to be and certainly not as much as I'd like 😞

[2017-06-07 17:13] tomgrandy commented on #394
@wesruv - Is what @klonos posted above enough of a description for what you need?

@klonos - Survived the race and can confirm ski slopes are meant for going down, not up.

[2017-06-07 22:22] klonos commented on #394
@tomgrandy 😄 ...I went up mount Olympus once because my mate didn't get anyone else to go with him. He was training for a couple of months before, while for me it was a last minute "I'll come with you. How hard can it be?" ...never doing that again.

[2017-06-14 10:01] rstamm opened #395 "Add option "Languages spoken" to profile page"
Add option "Languages spoken" to profile page. Like profile pages in drupal.org

[2017-06-14 10:10] ghost opened #396 "Project doesn't recommend latest release as the current main release"
On the project page https://backdropcms.org/project/page_theme, the project doesn't recommend the latest release as the current main release. How to fix it?

[2017-06-14 22:55] wesruv opened #397 "Link to Backdrop's Github groups more prominently"
I was teaching some mentees about Backdrop told them they could use the examples module to find out how to do things in modules. The examples module doesn't have an official release and they didn't know there was a Github group they could look through.

[2017-06-14 22:55] wesruv commented on #397
Was thinking we could link to github.com/backdrop-contrib on the modules themes and layouts page somewhere. I was thinking something small after the search field.

"Find projects without official releases, report issues, give feedback and collaborate at github.com/backdrop-contrib"

[2017-06-15 09:13] klonos commented on #396
I think that this is either a problem with https://github.com/backdrop-contrib/project or with how that module is configured to work on b.org

So in the Project page on b.org, you have two releases listed. One is set to "recommended" while the other one "supported":

![image](https://user-images.githubusercontent.com/2423362/27152996-27762ed4-5193-11e7-838e-761eed719e41.png)

Since the Project mod

[2017-06-15 09:37] rstamm commented on #396
The project page of Colorbox offers 2 releases but there it looks fine.
https://backdropcms.org/project/colorbox

[2017-06-15 10:30] ghost opened #398 "Access denied if clicked on "See all versions >" on project page"
Cannot access the page if clicked on "See all versions >" on a project page.

[2017-06-19 07:14] robertgarrigos opened #399 "my new module doesn't appear in backdropcms.org"
My new ported module usertabs (https://github.com/backdrop-contrib/usertabs) doesn't appear yet in backdropcms.org. I wonder if I have something wrong in my code which prevents this. Thanks

[2017-06-19 14:00] docwilmot commented on #399
Doesn't look like you've published a new release yet. It will appear there once you have a valid release.
You should also delete the Drupal tags.

[2017-06-19 17:51] robertgarrigos commented on #399
Right, thanks. Done. I guess it will take a few hours now.

[2017-06-19 17:59] docwilmot commented on #399
Sorry, not yet. Take a look at other project releases: the naming convention for tags/releases is the format
1.x-1.0.0.
I think you should have gotten an error report actually. Maybe @quicksketch or @serundeputy can check.

[2017-06-19 18:43] docwilmot commented on #399
Just to be clear, you will get listed on BackdropCMS.org almost immediately if you make a valid release. My comment about getting someone to check was not to suggest you needed to wait.

[2017-06-19 20:43] robertgarrigos commented on #399
I din't get any error report, in fact. I changed the format of the release version, anyway (the drush module, however, follows a different pattern and it is listed). Mine is not yet. Is there somewhere a checklist I could follow?

[2017-06-19 20:59] docwilmot commented on #399
You're right, don't know why. Did you edit the release or delete and do over?  Maybe try that?

[2017-06-19 21:38] serundeputy commented on #399
* drush is an exception that node on bcms.org was created manually

Release docs: https://api.backdropcms.org/contribute#contrib-releases
  * Although those docs don't look very robust, maybe we can bolster them by fixing this release of `usertabs` and documenting.

I checked the release and I don't see a packager error, which is what happens, when like `type = module` is omitted from the .info fi

[2017-06-20 08:23] robertgarrigos commented on #399
Fixed. Deleted all releases and tags and started over again. It's listed now on bcms.org. Thanks for your help.

[2017-06-20 08:23] #399 closed

[2017-06-24 08:30] robertgarrigos opened #400 "How to replicate bcms.org on backdrop.cat?"
I'm building the catalan community on backdrop.cat and would like to have the same design and section (more or less) but in catalan. I cloned the code but, of course, I'm missing some configurations. How could I replicate this config (if that's alright to have a cloned/translated site)? Any help/directions would be appreciated.

[2017-06-24 09:37] robertgarrigos opened #401 "Wrong "current release" on roadmap"
On roadmap page (https://backdropcms.org/roadmap) 1.6.0 is still pointed as "Current release".

[2017-06-24 09:55] robertgarrigos opened #402 "Error message after updating user profile"
Whenever you update your user profile at the bcms.org site it triggers an error message:

[code]

[2017-06-24 10:04] robertgarrigos opened #403 "Backdrop statistics missing on site"
Could it be nice to have some backdrop statistics on the site, like total downloads and active installs of core. I'm getting ready my presentation of backdrop for nextweek and cannot find an updated statistics on backdrop.

[2017-06-24 11:57] serundeputy commented on #403
https://backdropcms.org/project/backdrop Gives downloads and actives.

[2017-06-24 14:15] serundeputy commented on #401
thanks; updated: https://backdropcms.org/roadmap

[2017-06-24 14:15] #401 closed

[2017-06-24 14:32] robertgarrigos commented on #403
Thansk @serundeputy I'll use this. It's a shame that this link can not been found

[2017-06-25 10:31] klonos commented on #401
Updated https://github.com/backdrop/backdrop-issues/blob/master/procedures/docs/create-release-minor.md to add an entire section of "Update the Roadmap page on b.org" tasks, which includes a "Move the "(current release)" pointer to the current release entry" task:

![image](https://user-images.githubusercontent.com/2423362/27515374-2bf88a38-59e5-11e7-9674-73915a1398d2.png)

😉

[2017-06-25 16:02] klonos commented on #402
Must be related to our single sign on setup/modules.

[2017-06-25 16:05] klonos commented on #400
I think that it would be more beneficial to enable multiple languages on the main b.org site and start translating the main site in these languages. I volunteer for Greek 😄

As for your question, I think that I'll leave @jenlampton to answer that.

[2017-06-25 18:54] robertgarrigos commented on #400
I volunteer for Catalan, for sure! Yes, I agree it would be more beneficial.

[2017-06-26 08:59] olafgrabienski commented on #400
@klonos That's a great idea and may also be a challenge! In building a multilingual b.org site we could however combine forces to solve multilingual and localization issues of Backdrop. (I volunteer for translating to German, btw.)

[2017-06-26 16:12] quicksketch opened #404 "Start a Security mailing list and automate sending of security announcements"
We should provide a mailing list that people can use to be notified of security updates. Even better, it would be great if this mailing list was an automated process based on security announcements being created on backdropcms.org.

Drupal uses a similar approach for their announcements on Drupal.org, it seems like we should be able to port the solution used there.

[2017-06-28 12:03] tomgrandy commented on #165
@klonos - Any luck getting a photo of yourself in Melbourne?

[2017-06-28 13:14] tomgrandy commented on #165
@jenlampton - I have an interview complete with @serundeputy and wondered if we wanted to create a content type for Community Spotlight articles or put simply them in with the news/blogs?

Might be nice to keep all the CS articles together rather than interspersed in with others.

My two cents.

[2017-06-28 13:52] tomgrandy commented on #165
First Community Spotlight published as news/blog on @serundeputy 👍

https://backdropcms.org/news/geoff-st-pierre-community-spotlight

[2017-06-28 13:53] tomgrandy commented on #165
![screen shot 2017-06-28 at 9 53 10 am](https://user-images.githubusercontent.com/660545/27640556-a392442c-5be7-11e7-81f3-9a86be75d201.png)

[2017-06-28 19:00] jackaponte commented on #165
Or perhaps a "Community Spotlight" taxonomy term that can be added to the existing content type used for news/blogs? (Unless community spotlight pieces really necessitate a different content type with different fields, layout, etc!)

[2017-06-28 19:58] jenlampton commented on #165
Tag++

On Jun 28, 2017 12:00 PM, "Jack Aponte" <notifications@github.com> wrote:

[2017-06-29 14:50] tomgrandy commented on #165
@jackaponte - Great idea for using a taxonomy term!  Keeping the Community Spotlight in the News section is probably best to keep it updated more frequently.  Thanks!

[2017-06-29 18:01] klonos commented on #165
...

..

Done! 😄

@serundeputy is there any recording of your band available online? What kind of music do you guys play?

@tomgrandy no, I did not manage to find or get a photo of myself. Apparently, I have no life Down Under 😞

[2017-06-29 18:26] tomgrandy commented on #165
@klonos - In the story there is a link to the band that takes you to their FB page where you can listen to some of their recordings.  Go [here](https://www.facebook.com/The-Understatements-135176446577075/app/2405167945/?ref=page_internal) to get directly to the audio and video.

[2017-06-29 18:35] klonos commented on #165
Thanx @tomgrandy ...I'm such a caveman. I don't know how to use the facebooks and twitters 😄

[2017-06-30 18:31] #403 closed

[2017-07-02 18:48] serundeputy commented on #358
@larsdesigns this is working great for me for DBs.  I've successfully logged in and downloaded up to date, sanitized DBs for local dev.

Can you check the `files` cron job?  It seems to be stuck back in May.
Once the files piece is complete we can close this out.

[2017-07-02 19:11] serundeputy commented on #404
@quicksketch is the d.org code public somewhere so we can look at the `anouncements` to port?

[2017-07-02 19:48] serundeputy commented on #404
I think this is it: https://www.drupal.org/project/drupalorg

[2017-07-03 01:59] larsdesigns opened #405 "IP6tables Firewall Configuration"
Configure Ip6tables firewall on all of the Linode hosts with basic rules.

[2017-07-03 02:00] larsdesigns commented on #405
Configured Ip6tables firewall on all of the Linode hosts with basic rules.

[2017-07-03 02:00] #405 closed

[2017-07-03 02:25] serundeputy commented on #292
I think this is moot now; closing reopen if necessary.

[2017-07-03 02:25] #292 closed

[2017-07-03 07:49] klonos commented on #292
Yep, moot.

[2017-07-04 11:31] serundeputy commented on #358
@larsdesigns great thanks!

Would you mind filing an issue and or PR of how you fixed it? So we can fix it upstream at: https://github.com/serundeputy/sql-dump-sanitize/issues

[2017-07-04 16:53] serundeputy commented on #243
@jenlampton @klonos if you are up for a review.

PR: https://github.com/backdrop-ops/backdropcms.org/pull/406

This adds:
* the top level metrics gathering for commits against core and comments against core and contrib
* adds block `backdorp_project_metrics`
  * The block needs to be placed somewhere

For some reason the comment count is increasing by 27 every cron run (when I believe it shouldn't

[2017-07-04 20:28] klonos commented on #243
@serundeputy I took a quick look and have comments/questions, but I'd rather discuss instead of "polluting" the PR (because some of my comments are newbie questions).

I'm also intrigued by the +27 increment of comments, but could not figure it out.

Not sure how much "workload" you get with your Backdrop office hours, but if you're you up to it, we can discuss the code then and you can help me le

[2017-07-04 21:27] serundeputy opened #407 "Make backdropcms.org dev easy peasy."
Adding a `.lando.yml` file will allow users to spin up a local dev env with lando (Kalabox v3) with ease.

If a user is not using lando the file will not cause any harm.  If the user is using lando it is a convenience.

Dev gets:

* dev stack
* drush + backdrop drush extension
* db port is set to 3308

Installing lando: https://docs.lndo.io/installation/installing.html

[2017-07-04 21:36] jenlampton commented on #407
looks good. go ahead and push :)

[2017-07-04 21:38] serundeputy commented on #407
merged; closing.

[2017-07-04 21:38] #407 closed

[2017-07-06 23:07] jenlampton commented on #243
Thanks for working on this @serundeputy it's a great start :)

I don't see any obvious cause of the off-by-27 error, but there is some funny date handling that may (or may not) be related, which you are fixing now.

The only other potential issue I can see is a namespace conflict with some of the internal helper functions. With a generic function name like `_get_metrics()` it could be that any oth

[2017-07-08 16:37] serundeputy commented on #243
@jenlampton updated the PR: https://github.com/backdrop-ops/backdropcms.org/pull/406/commits

* namespaces all functions
* fix the default date for polling github
* update seeds to initial data
* fix the off by 27 comments count error

I think this is ready to merge.

[2017-07-09 15:20] LeeteqXV opened #409 "Backdrop's use of spacing (padding) between page elements"
Example: the space around titles on pages like https://backdropcms.org/news - (also in the core + contributed Basic theme), and above/below page elements like menu items.

To me, (not a designer) it seems to have an enormous padding. Unlike most themes I am used to from Drupal/WP, in Backdrop I find myself often wishing for 200-500% less padding... - that is 2-5 times too much (white-)space than w

[2017-07-09 21:00] LeeteqXV opened #410 "Automatic change of page background color for discontinued projects?"
Coming from: https://github.com/backdrop-contrib/base_meta/issues/2 and https://github.com/backdrop-contrib/seo_meta/issues/8

**When a project is cancelled, maybe we should have (exists?) a category for that which also automagically colored the background of the project page somewhat differently (light redish?) to notify any page visitor of that status.**

[2017-07-10 09:08] olafgrabienski commented on #409
@LeeteqXV Regarding your 2nd question, you may also have a look at issue #1829 filed by @klonos. It's about making subtheming easier but there is also a short discussion about custom CSS modules like Drupal's *CSS Injector*. I'd love to have something like it (or the WordPress *Custom CSS* feature) in core.

[2017-07-13 00:20] jenlampton commented on #243
Looks great @serundeputy, merged!

[2017-07-13 00:26] jenlampton commented on #243
Well, when deploying to production I got a PHP fatal:

[code]

[2017-07-13 00:57] jenlampton commented on #243
committed a fix, pushed to production. Can we put the new block on the home page? :)

[2017-07-13 01:11] serundeputy commented on #243
@jenlampton go ahead and place the block!

[2017-07-13 12:17] serundeputy commented on #243
@jenlampton PR: https://github.com/backdrop-ops/backdropcms.org/pull/411
 * Removes all type hints from function definitions to be compatible with PHP 5.4

Once we merge this we should be able to place the block.

----
Fixes:
[code]

I've switched to PHP 5.4 in my `.lando.yml` file; replicated the problem and addressed it by removing type hinting.

I'll file a separate PR for committing the PHP 5.

[2017-07-13 12:27] serundeputy opened #412 "[DX] Upgrade BackdropCMS.org server to PHP 7."
Consider upgrading BackcdropCMS.org production server to PHP 7.

In #243 I got into trouble using type hinting on function definitions which is incompatible with the servers current PHP 5.4.

Upgrading to PHP 7 will allow developers/BackdropCMS.org to take advantage of new features of PHP and should give us a performance boost too.

If we do update to PHP 7 we should update `.lando.yml` to use PHP

[2017-07-13 12:29] serundeputy opened #413 "Change `.lando.yml` to use PHP 5.4 for production parity."
Change `.lando.yml` to use PHP 5.4 for production parity.

----
PR: https://github.com/backdrop-ops/backdropcms.org/pull/414

[2017-07-13 12:35] serundeputy commented on #413
I filed a PR for this and was going to merge it, but then I realized that with PHP 5.4 we can not use drush either on the server (which we currently don't anyway) or on the local.

So, on the one hand this production parity will prevent things like #243, but on the other we can not use drush to speed local dev.

Ultimately I think it is time to upgrade the server to PHP7 #412 .

[2017-07-13 12:50] serundeputy commented on #266
@Gormartsen @jenlampton this would be extremely useful and would prevent things like #243 and allow for a remediation cycle before going live.

I do this with Travis and CircleCI; here is a travis example for Backdrop: https://github.com/thinktandem/githook-workflow-demo

Not as fancy as what you describe @Gormartsen but could get the job done.

@Gormartsen is there a way(s) that I can help facili

[2017-07-13 19:04] jenlampton commented on #243
Merged the latest PR, will deploy after the Outreach meeting :)

[2017-07-13 19:56] tomgrandy commented on #165
I am looking for names/contact information of people you may know who are involved in the Backdrop community either as part of the development of Backdrop project, creators of Backdrop sites, or owners of sites built on Backdrop to be the focus of the monthly Community Spotlight series to be featured on the BackdropCMS.org site.

The intent is to extend the number of people who I could possibly in

[2017-07-13 20:07] tomgrandy commented on #165
I am looking for names/contact information of people you may know who are involved in the Backdrop community either as part of the development of Backdrop project, creators of Backdrop sites, or owners of sites built on Backdrop to be the focus of the monthly Community Spotlight series to be featured on the BackdropCMS.org site.

The intent is to extend the number of people who I could possibly in

[2017-07-13 20:58] jenlampton commented on #237
@tomgrandy I just re-read https://backdropcms.org/upgrade, and on further inspection I think we should create a child-page for this page, that is specifically for Pantheon. I don't think we should mix up the general Backdrop docs with Pantheon specific docs, on the same page. That is likely to confuse the people who are not using Pantheon.

[2017-07-13 21:05] serundeputy commented on #243
@jenlampton I've placed the block:
![screen shot 2017-07-13 at 5 03 58 pm](https://user-images.githubusercontent.com/6763671/28187622-545e3a34-67ed-11e7-83fe-e0d0ac907e21.png)

So, you'll need to commit that config, but sounds like that is a process you are used to.

[2017-07-13 21:08] jenlampton commented on #243
pushed! :)

[2017-07-13 21:10] jenlampton commented on #243
committed and pushed :)

[2017-07-14 01:05] jenlampton commented on #243
<img width="1165" alt="screen shot 2017-07-13 at 6 04 21 pm" src="https://user-images.githubusercontent.com/397895/28193958-ba49eb92-67f5-11e7-9218-8c8c62d365e4.png">

I made a few changes:
* contributors instead of users
* Numbers largest -> smallest from L to R
* added users from backdropcms.org to user counts
* code is now php5.3 friendly
* style is now bootstrappy and responsive
* CSS is now i

[2017-07-14 01:43] serundeputy opened #415 "Node add form in a block causing logged in users to scroll below the fold on page load."
reported by @klonos in gitter.

----
PR: https://github.com/backdrop-ops/backdropcms.org/pull/416

[2017-07-14 16:44] larsdesigns commented on #358
@serundeputy, yes will do.

[2017-07-14 18:42] jackaponte commented on #165
I'm looking forward to recommending someone from my client whose site we recently launched in Backdrop, as they took a chance on Backdrop, invested money in module ports etc, and seem to be quite pleased thus far! But I think it makes sense to do so after they've had time to use the site (they've barely gotten to explore it yet.) Thanks for doing this work, @tomgrandy!

[2017-07-16 11:53] herbdool opened #417 "Quick user guide is wrong about creating layouts"
On this page https://backdropcms.org/user-guide/quick-start it gets it wrong about creating a layout for an existing node. The wrong way is to try create a static path with the same alias.

[2017-07-16 22:24] klonos commented on #413
php7 => make the site faster => make google ranking happier.

I say lets take the dive and upgrade to php7. It will need to happen at some point, so better sooner than later I guess.

[2017-07-16 22:27] klonos commented on #412
php7 => make the site faster => make google ranking happier.

I say lets take the dive and upgrade to php7. It will need to happen at some point, so better sooner than later I guess.

[2017-07-19 20:40] serundeputy commented on #404
I've added this field `field_security_mailing_list` to the user profile and functionality to send email to people who subscribe via that field in `borg_mailers/borg_mailers_security`.

<img width="1225" alt="screen shot 2017-07-19 at 4 37 06 pm" src="https://user-images.githubusercontent.com/6763671/28388446-c2d55044-6ca0-11e7-99f6-fe67a9ae703c.png">

@jenlampton There are these cofig files in `li

[2017-07-19 20:43] jenlampton commented on #404
You should commit them in the `dev-active` directory. The workflow is to `git pull` but then `Config -> Sync` and it should be the sync that copies them into `live-active`.

[2017-07-24 15:26] olafgrabienski commented on #404
@serundeputy I just wanted to look if the setting is already on the borg website, and it is, nice! Actually at the first sight I missed it, I guess because there's no label, maybe better to add one?

Screenshot:

![screen-borg-user-edit](https://user-images.githubusercontent.com/14188307/28530651-d850df22-7094-11e7-88fc-4fa6e85fffad.png)

[2017-07-24 17:01] serundeputy commented on #404
@jenlampton re https://github.com/backdrop-ops/backdropcms.org/issues/404#issuecomment-317459537 do you think we should move this checkbox for the Security Mailers into the `CONTACT SETTINGS` fieldset?

[2017-07-24 19:28] jenlampton commented on #404
That's exactly what I was thinking. But maybe we should also change the label from "Contact settings" to something more general, like "Email subscriptions" or similar?

[2017-07-25 12:59] serundeputy commented on #404
@jenlampton PR here: https://github.com/backdrop-ops/backdropcms.org/pull/420
<img width="1301" alt="screen shot 2017-07-25 at 8 59 00 am" src="https://user-images.githubusercontent.com/6763671/28573141-9df52b8e-7117-11e7-9e2e-a4820280f272.png">

[2017-07-25 18:08] jenlampton commented on #404
Thanks for the quick turn around on this @serundeputy!

I'm not sure I'd call contact form email a subscription - I know I recommended that earlier, sorry - thinking about it further I think maybe `Notification` might be a better word. 🐼

I left some feedback on the PR about code style that's less important, just thoughts. Take it or lave it ;)

[2017-07-26 20:07] serundeputy commented on #404
PR updated: https://github.com/backdrop-ops/backdropcms.org/pull/420

* simplified code
* fieldset title is now `Email Notifications`

[2017-07-26 20:24] jenlampton commented on #404
Merged and deployed, thank you @serundeputy !

[2017-07-26 20:24] #404 closed

[2017-07-26 20:25] jenlampton commented on #415
This was deployed today as well.

[2017-07-26 20:25] #415 closed

[2017-07-26 20:26] jenlampton commented on #413
merged. thank you!

[2017-07-26 20:26] #413 closed

[2017-07-26 20:44] jenlampton commented on #417
Thanks @herbdool that was indeed incorrect. I have taken a stab at a correction, can you give it a read and let me know if it makes sense?
https://backdropcms.org/user-guide/quick-start

[2017-07-26 20:56] herbdool commented on #417
@jenlampton much better!

[2017-07-26 20:57] jenlampton commented on #417
Great! :) Closing this issue.

[2017-07-26 20:57] #417 closed

[2017-07-26 20:57] olafgrabienski commented on #417
@jenlampton Had also a quick look at the User guide, looks indeed good!

One little thing: I guess the first slash in `The node ID is the number between '/node' and '/edit'` should be at the end. Not `'/node'` but `'node/'`.

[2017-07-26 21:02] olafgrabienski commented on #417
@jenlampton Sorry, but now I'm not sure which one is correct. Got confused by the slashes without the number inbetween, too abstract! (Maybe we could give an example in the guide, like "node/**23**/edit".)

[2017-07-26 21:22] jenlampton commented on #417
ooh, that's a better idea! https://backdropcms.org/user-guide/quick-start

[2017-07-27 18:53] tomgrandy commented on #165
@jackaponte - Awesome to hear you may be able to recommend a client who has been pleased with their Backdrop experience.  Once they have had some time to use the site, I would love to interview them.  Thanks!

[2017-07-27 18:56] jenlampton commented on #165
@tomgrandy I have one too, his name is Brian Frias and he was a speaker at the Backdrop summit at Badcamp last year. He's ready to talk any time if you'd like to reach out to him. Contact me for his info! :)

[2017-07-27 19:22] tomgrandy commented on #165
@jenlampton - Excellent!  Thanks!

[2017-08-10 03:32] laryn opened #421 "Suggestion: rewording the Drupal bullet point on homepage"
Suggestion, if it can be done without getting too wordy: change this line on the b.org homepage to include the fact that while familiar, the UI is improved and improving vs. D7, and not just a familiar continuation of D7:

<img width="695" alt="Backdrop has a built-in upgrade path from Drupal 7. Working with Backdrop will be very familiar to people with Drupal experience." src="https://user-images

[2017-08-10 04:07] klonos commented on #421
Adding @jenlampton and @tomgrandy to this ticket, but anyone else please feel free to make suggestions.

[2017-08-10 04:43] jenlampton commented on #421
I bet we can find a way to do it without making it too wordy... How about this?
[code]

[2017-08-10 05:14] laryn commented on #421
I was going for "familiar...but better" -- ie. the improvements and new features may not be familiar. Does that make sense?

[2017-08-10 19:36] tomgrandy opened #422 "Create Backdrop Demo Site"
I think it would be worth pursuing setting up a Backdrop Demo site with content and themes for people to log in and try out Backdrop with a completed site rather than with a vanilla download.  The demo site would be rebuilt every night at midnight so any changes made would be deleted and the site would be new for people to work with rather than letting it be cluttered with months of junk.

The sai

[2017-08-11 19:37] jenlampton commented on #327
An interesting idea, we could turn that into a flag! Love it.

[2017-08-11 19:38] jenlampton commented on #398
I'm unable to reproduce this problem, but we did just make some changes to the releases page not too long ago. Can you please confirm this is still an issue for you? If so I will look into it further.

[2017-08-11 19:40] jenlampton commented on #410
Yes, that's a good idea. Do you think the `exists` flag should be some kind of a manual field on backdropcms.org, or something that's pulled in automatically from GitHub?

[2017-08-11 19:43] jenlampton commented on #410
Maybe this is something we should add into the info file, much like dependancies. If a module is being discontinued in favor of another, we should link to the new project too. so something like...

[code]

This could cause a notice on the backdrop site as well as display something special on backdropcms.org.

[2017-08-14 02:18] jlfranklin commented on #402
Just got this myself.

[2017-08-15 17:09] amilenkov commented on #121
Here are the files for YouTube.
If corrections are necessary, specify what.

![youtube_2056x423](https://user-images.githubusercontent.com/14857883/29326761-725ba37e-81f5-11e7-8583-f0499e79c057.png)
[YouTube_2056x423.pdf](https://github.com/backdrop-ops/backdropcms.org/files/1225785/YouTube_2056x423.pdf)

[2017-08-15 18:35] jenlampton commented on #121
Thanks @amilenkov, unfortunately I'm getting an error from YouTube saying that the image needs to be at least 2048px wide and 1152 pixels tall.

[2017-08-15 19:44] amilenkov commented on #121
OK, I found the instructions and template for making here:
https://support.google.com/youtube/answer/2972003?hl=en
![channel-art-template](https://user-images.githubusercontent.com/14857883/29332945-8ab0d394-820a-11e7-9dc7-1e4fc530c66d.gif)

The problem lies in the need to have a large size for TV displays, besides computers, mobile devices and tablets. So the height becomes much bigger than the b

[2017-08-15 19:54] dariusgarza commented on #121
I'll take a look if u post the design file

On Aug 15, 2017 12:45 PM, "Antony Milenkov" <notifications@github.com>
wrote:

[2017-08-16 15:38] amilenkov commented on #121
What do you think about this project? When the final project is approved (test it in YouTube of devices with different screen sizes), I will upload also final vector file.

![youtube_2560x1440](https://user-images.githubusercontent.com/14857883/29371788-f61125e2-82b1-11e7-9010-18935acebafc.png)

[2017-08-16 16:17] dariusgarza commented on #121
Was going to help u with the crops, but need the vectors. Nevermind if
you're doing it.

Is that the design for the YouTube banner? I like the black contrasted with
the colors. Don't think you need the qr code tho considering users will
already be online when viewing it.

On Aug 16, 2017 8:38 AM, "Antony Milenkov" <notifications@github.com> wrote:

[2017-08-16 16:18] tomgrandy commented on #121
I like the use of color!

On Wed, Aug 16, 2017 at 11:38 AM, Antony Milenkov <notifications@github.com>
wrote:

[2017-08-16 16:20] dariusgarza commented on #121
It looks like some of the background shapes are not perfect squares and got
squished maybe? Since they are derived from the logo, it's better to stick
to the same square proportions.

On Aug 16, 2017 9:18 AM, "Tom Grandy" <notifications@github.com> wrote:

[2017-08-16 16:29] amilenkov commented on #121
The central color zone should only be visible on computers, tablets and mobile devices, they should not see the black background. The black background is visible only on TV devices, only they will also see the QR code.

I guess it would be convenient for a visitors to the YouTube page from a TV device to scan the QR code to enter the site's address in their mobile phone, but you decide better. The

[2017-08-16 16:38] amilenkov commented on #121
I do not have much experience with banners for YouTube, I have done banners for YouTube a while ago, but then there were no such requirements for TV size and I can not test it because I have no internet TV device. The dimensions are according to Google's instructions, I expect to work, but if you want to change something I'll upload a vector file for processing with illustrator.

[2017-08-16 22:41] jenlampton commented on #121
Thanks for the file @amilenkov! It looks like on computers we can see a black and white stripe on both the top and the bottom of our image: https://aboutme.google.com/u/0/b/107335894649589204558/#profile_photo

I agree with @dariusgarza that it would be great if we could stick to our brand and keep the   logo mark proportional. We should probably do that everywhere we use it, so we may need to upd

[2017-08-16 23:46] jenlampton opened #423 "CSS cleanup needed on the SAs"
See https://backdropcms.org/security/backdrop-sa-core-2016-003 for an example.

[2017-08-24 23:56] jenlampton opened #424 "Design a pop-up banner for events"
We have a few events coming up where it might be useful to have a Backdrop CMS pop-up banner. BADCamp 2017, and Collision Conf 2018. Does anyone want to work with us to create a masterful piece of advertising material? @dariusgarza ?

[2017-08-25 15:05] olafgrabienski commented on #422
@tomgrandy I like the idea. What kind of content and which themes (and possibly which pre-configuration) do you have in mind? (Let's make a list!)

Another question: How would we manage different people at the same time? I guess we need one Backdrop instance per person, meaning the site has first to be built when a person wants to try it out.

[2017-09-07 18:58] jenlampton opened #425 "Draft blog post on Backdrop 1.8"
We need to write a blog post for Backdrop 1.8, so we'll need to pick some new features to highlight. Let's review the list of things that were committed and pick our favorites:

How about:
* Config overview page overhaul
* Progress bar &  Task list (update.php) styling
* Unpublished indicator in Basis
* Expand all checkbox

Relevant issues for these are as follows:
* Issue <a href="https://github.

[2017-09-07 20:43] klonos commented on #425
@jenlampton can you please add the respective issue links for these features. I have not been around lately and have lost track. If I manage to find time to work on the blog post, it would help to have those links. Thanks in advance 😉

[2017-09-07 20:47] jenlampton commented on #425
Yes @klonos, added!

[2017-09-21 19:43] jenlampton opened #426 "Blog post on Backdrop4Good"
@serundeputy or @saintlynn would either of you like to do a blog post on backdropcms.org about Backdrop4Good?

[2017-09-21 23:14] jenlampton commented on #425
an unpublished indicator to the Basis theme:
<img width="1413" alt="screen shot 2017-09-21 at 4 13 28 pm" src="https://user-images.githubusercontent.com/397895/30722781-e35be0d4-9ee7-11e7-84c3-6c1d2e1d0def.png">

[2017-09-21 23:18] jenlampton commented on #425
configuration overview page with new icons, better sort order, and responsive design:
<img width="1413" alt="screen shot 2017-09-21 at 4 13 28 pm" src="https://user-images.githubusercontent.com/397895/30722898-7ef9d686-9ee8-11e7-95df-d6e5e063d2b3.png">

[2017-09-21 23:27] jenlampton commented on #425
Here is the
<img width="587" alt="screen shot 2017-09-21 at 4 25 55 pm" src="https://user-images.githubusercontent.com/397895/30723084-d1aaf9ea-9ee9-11e7-9692-66439ce488db.png">
'expand all' checkbox on menu block config form.

[2017-09-21 23:48] jenlampton commented on #425
Update screen: task list and progress bar styling updates:
<img width="865" alt="screen shot 2017-09-21 at 4 47 16 pm" src="https://user-images.githubusercontent.com/397895/30723503-b73afc56-9eec-11e7-9e0a-06e74792f57d.png">

[2017-09-23 23:09] Dinornis commented on #393
Yes, that would be very helpful.

[2017-09-28 23:17] BWPanda commented on #316
Is there some styling missing from the Showcase page? This is what I'm seeing:

![screen shot 2017-09-29 at 09 15 50-fullpage](https://user-images.githubusercontent.com/2385329/30994343-e1281584-a4f6-11e7-9031-ca937cf6ebb0.png)

Also, can anyone with a BD.org account just go and create showcase content, or do we need to get permissions somewhere, or what?

[2017-09-28 23:22] BWPanda commented on #158
If I want to write a blog post about how I built a particular website in Backdrop, and would like it featured on BackdropCMS.org somewhere, how do I do that? Do I need to ask permission, draft something up first, just post it online (I think I can add content to BDcms.org), ...?

[2017-09-29 00:38] serundeputy commented on #158
@BWPanda yes just write a draft right on backdropcms.org and then request a proofread and then publish.

[2017-09-29 03:32] BWPanda commented on #158
Thanks @serundeputy. I've added my blog post, but am not sure if I did the whole Draft thing properly (didn't see an option for that). My post seems to be live already: https://backdropcms.org/news/building-pandaidau-backdrop-cms

[2017-09-30 18:08] jenlampton commented on #158
Looks great! Usually someone with access creates an unpublished node for
you if you want a review, but if you are happy with this as-is we are happy
to have it :)

On Sep 29, 2017 5:32 AM, "Peter Anderson" <notifications@github.com> wrote:

[2017-10-06 00:09] serundeputy commented on #243
@jenlampton is there more to do here or should we close?

[2017-10-06 00:11] jenlampton commented on #243
closing :)

[2017-10-06 00:11] #243 closed

[2017-10-06 00:24] serundeputy commented on #358
the DBs are working good for me, but the files cron job has something wrong with it; not sure if it is the cron job or the script itself:

![screen shot 2017-10-05 at 8 21 54 pm](https://user-images.githubusercontent.com/6763671/31258135-0f235a48-aa0b-11e7-8e88-4b41788b78ac.png)

@larsdesigns have a look if you get a chance.

[2017-10-06 01:03] larsdesigns commented on #358
@serundeputy okay, I will check tonight.

[2017-10-26 19:17] jenlampton commented on #316
I'm going to close this as a dupe of https://github.com/backdrop-ops/backdropcms.org/issues/176 because as a dev I am confused as to which issue contains the feedback I need.

[2017-10-26 19:17] #316 closed

[2017-10-26 19:56] jenlampton opened #427 "Port flippy module (for showcase)"
Our showcase items are going to need the ability to page from one to the next. It might be nice to have a tool like the flippy module to use for this purpose.

[2017-10-26 21:00] alexfinnarn opened #428 "Add Links to Hangout and Gitter On Developers Page"
I initially went to https://backdropcms.org/developers to look for the weekly meeting links or info. I ended up clicking around and found them linked to the resources page in the sidebar of https://backdropcms.org/news.

I think adding a link to the developer page pointing to https://backdropcms.org/resources makes sense. Also adding the Gitter link (https://gitter.im/backdrop/backdrop-issues) to

[2017-10-26 21:01] alexfinnarn commented on #428
I guess this could also be a request for editorial access, if you don't think I'm too crazy...

[2017-10-26 22:46] jenlampton commented on #165
@tomgrandy how's it going with the spotlight? Do you need another person to interview yet? If so I may have one for you :)

[2017-10-27 02:12] tomgrandy commented on #165
Jen, Please forward a contact.  I need someone.  Thanks!

On Thu, Oct 26, 2017 at 6:46 PM Jen Lampton <notifications@github.com>
wrote:

[2017-10-27 08:56] olafgrabienski commented on #176
In the issue referenced by @jenlampton there was asked in a [comment](https://github.com/backdrop-ops/backdropcms.org/issues/316#issuecomment-332989215) if there is some styling missing from the Showcase page. I have the same question.

While the individual showcase pages look good, the overview page looks quite raw (see screenshot in the comment mentioned above). Do we still want to design the ov

[2017-10-27 18:41] jenlampton commented on #176
We have the design @olafgrabienski. Yesterday I posted a screenshot of it into the original issue above. This ticket is still open because we need to implement the design.  What's there now is temporary.

[2017-11-02 13:39] tomgrandy commented on #165
@jenlampton - I'm open to anyone at this point.

[2017-11-02 18:26] alexfinnarn commented on #409
Rather than open a new issue, I think this discussion is related to something I see on the front page of https://backdropcms.org.

<img width="1269" alt="screen shot 2017-11-02 at 11 10 15 am" src="https://user-images.githubusercontent.com/3640707/32342705-88136ba0-bfbe-11e7-99af-e5a2c619848f.png">

Since there is no page title, maybe?, the padding pushes "Why use Backdrop CMS?" lower on the page.

[2017-11-02 19:25] alexfinnarn opened #429 "Draft Blog Post On Module Categorization"
**Motivation**

I feel like one of Drupal's greatest assets and yet one of its greatest drawbacks is the insane amount of ready-to-use community code contributions. Whether it is a publishing platform, mapping app, CRM system, ERP (whatever that means?) system, plain API, etc. "there is a module for that".

I think the Backdrop CMS project has an opportunity by being able to pick the "best" commun

[2017-11-02 20:49] jenlampton opened #430 "Survey for our newsletter subscribers"
Last week in our meeting with Facet Interactive, they recommended we send a survey to people on our newsletter, see if we could gather any useful information that could help focus our efforts where it's needed most.

# 5 Questions we have for our followers

1) What is your relationship with Content Management Systems?

* back-end CMS developer
* front-end CMS developer
* I own or manage a website

[2017-11-02 21:04] jenlampton commented on #165
I added BWPanda to the list - https://www.packweb.com.au/contact

[2017-11-02 21:10] olafgrabienski commented on #430
The question sounds a bit negative in my opinion, assuming that something is stopping the move to Backdrop in any case. Maybe we should ask that before, something like this (could need better English):

*If you have a site you are thinking about moving to Backdrop, is there something stopping you? If yes, what are the reasons?*

[2017-11-02 21:12] jenlampton commented on #430
Excellent suggestion. What about this: `If you have a site you are thinking about moving to Backdrop, are any of the following preventing you from doing so right away?`

I think without the word "stopping" it also sounds a little less negative.

[2017-11-02 21:15] olafgrabienski commented on #430
Yes, I guess that's better.

Btw, I also wanted to suggest a "Other" option for this question. Don't know if the new sentence would still be convenient then.

[2017-11-03 07:26] alexfinnarn commented on #429
Note that the top category for Drupal 7 modules is "third-party integration". This speaks to the trend towards integrating services into websites in lieu of custom code. As a developer, I hate embedding random JS, but it does point to the fact that a lot of Drupal users wanted to combine the powers of a CMS with some other service that did its thing better than a CMS could. I think it would be sma

[2017-11-07 09:40] larsdesigns commented on #358
@serundeputy, I fixed the cron job and tested it manually. It seems to be working as expected. I will check to make sure it runs by crond for the next few cycles and then recommend closing the issue.

I set the cron jobs to run every morning at 8am UTC.

I apologize for the delay promise to see this through during this week.

cc @jenlampton

[2017-11-08 21:40] alexfinnarn commented on #430
I like the current questions and would like to know one or two more opinions from users/potential users.

If you've already heard of Backdrop...
5. What would you say its mission statement is?
6. What weaknesses do you think the project has currently?
7. What strengths do you think the project has currently?

I'm writing a blog post I will put on my personal site about reactions I've gotten to tho

[2017-11-08 22:01] Graham-72 commented on #430
Do we not want responses from people who have already launched Backdrop sites? I am thinking of another possible option at question 3.

Maybe 'launched' is too limiting. Perhaps we could get useful information from those who have implemented a test site or seriously evaluated Backdrop in some way.

[2017-11-09 10:30] larsdesigns commented on #358
@serundeputy: Tonight I checked sanitize.backdropcms.org and both the files archive and database dumps have run successfully for the last two nights.

I am going to go ahead and close the issue.

cc @jenlampton

[2017-11-09 10:30] #358 closed

[2017-11-09 10:31] larsdesigns opened #431 "Linode Host Upgrades"
Implement the pending hosting upgrades that Linode has been after us to complete.

[2017-11-09 10:33] larsdesigns commented on #431
I am planning on performing the hosting upgrades on Friday night around 11pm MST.

[2017-11-12 20:56] opi commented on #144
@jenlampton I guess the patch (https://github.com/backdrop/backdrop/pull/752 ?) is no more applied. (and damn, I'll try to make this PR merged !)

[2017-11-12 21:01] opi opened #432 "[UX] A "my account" link is missing from the main menu"
When logged out from backdropcms.org, I can see a "Login / register" link, sending me to the `/user/login` page.
Once logged in, I'm redirected to the `/account/opi` page, which is nice. The previous "Login / register" link is replaced with a "Log out" link, which is also nice. But now, there is no link to view (and edit) my profile, nowhere.

Solution : Add a "My account" link before the "log out

[2017-11-12 21:13] opi commented on #144
( and should be listed here https://github.com/backdrop-ops/backdropcms.org/blob/master/PATCHES.md )

[2017-11-12 21:23] opi commented on #432
Related issues: https://github.com/backdrop-ops/backdropcms.org/issues/351, https://github.com/backdrop-ops/backdropcms.org/issues/301

[2017-11-13 07:24] larsdesigns commented on #431
Going forward with the upgrades now.

[2017-11-13 07:44] larsdesigns commented on #431
1. Performed Yum upgrades on ci.backdropcms.org host.
1. Restarted the ci.backdropcms.org host.
1. Performed the pending Linode account upgrade for www.backdropcms.org host.
1. Performed Yum upgrades on www1.backdropcms.org host.
1. Restarted the www1.backdropcms.org host.
1. Performed the pending Linode account upgrade for www1.backdropcms.org host.

[2017-11-13 07:51] larsdesigns commented on #431
1. Removed old Linode host that was powered off and not being used. I powered it off earlier this summer and intended to remove it earlier.
1. Performed yum upgrade on linode2794799.
1. Performed Linode upgrades on linode2794799.
1. Checked to make sure all of the hosts are up and running and backdropcms.org site is running.

No further tasks. Closing...

[2017-11-13 07:51] #431 closed

[2017-11-13 08:12] larsdesigns commented on #337
Seems like this is not a good fit. I am going to go ahead and close the issue.

[2017-11-13 08:12] #337 closed

[2017-11-13 08:23] larsdesigns commented on #338
I took down the host that was not being used after months of being shutdown.

For now, I think that it is okay to make /etc/hosts entries for the domain and subdomains when folks are working with this host.

Should it be decided that test URLs are needed, let's open a new issue for that.

No further tasks. Closing...

[2017-11-13 08:23] #338 closed

[2017-11-13 08:24] larsdesigns commented on #339
I am thinking this should be bundled with CI rollouts moving forward.

I am closing for now.

[2017-11-13 08:24] #339 closed

[2017-11-13 08:29] larsdesigns commented on #342
Looks like a huge effort to move to MariaDB 10.x. I will plan on performing the multibyte conversion for the existing databases using these instructions: https://www.drupal.org/node/2754539

Please not we need to test, fork, and further develop: https://www.drupal.org/project/utf8mb4_convert.

Anyone have a lead on this?

[2017-11-13 08:38] larsdesigns commented on #220
I am waiting until January so we can install and use the wild card certificates.  https://letsencrypt.org/2017/07/06/wildcard-certificates-coming-jan-2018.html

[2017-11-13 17:51] jenlampton commented on #342
That's not necessary, an update is built into backdrop.

On Nov 13, 2017 12:29 AM, "Justin Christoffersen" <notifications@github.com>
wrote:

[2017-11-13 21:23] larsdesigns commented on #342
@jenlampton That is an awesome feature.

No further tasks. Closing...

[2017-11-13 21:23] #342 closed

[2017-11-13 21:57] docwilmot commented on #432
I'm considering the same issue on the forum website. Would a footer menu help here?

[2017-11-19 14:55] olafgrabienski commented on #354
For local set-ups there is *Lando* now, kind of a *Kalabox* successor. For more information see https://docs.devwithlando.io.

[2017-11-19 15:29] olafgrabienski opened #433 "Review installation instructions"
Everytime I have a look at the installation instructions on https://backdropcms.org/installation I'm confused about order and description of the installation steps:

The first sentence of section `3. Update Backdrop's settings.php file` is:

The "next step" (`4. Set the permissions/ownership on the files directory`) doesn't refer to the installer.
The same applies for the step after the next (`5.

[2017-11-26 07:52] Graham-72 commented on #433
@olafgrabienski I agree with your suggestion to move the installer section up to be step 3. The present instructions make the procedure sound over-complicated. On my server I find the installer does a grand job of updating the settings.php file and setting up the files directory, so it would be good to move these instructions to a section 4 as you propose.

[2017-11-26 08:00] Graham-72 commented on #157
Yesterday I needed to move a backdrop site and could not find any instructions in our user guide. Fortunately I found my personal note 'Moving a backdrop site' referenced above.

And I had completely forgotten that I had created this issue in Jan 2016 and I was about to create it again! Is this something I can add to our user guide?